openapi: 3.0.1
info:
  title: Almex-EAD
  description: >
    # Almex-EAD API

    La API de Almex-EAD es una interfaz de programación de aplicaciones (API)
    que permite a los desarrolladores acceder a los recursos y servicios de la
    plataforma de Almex-EAD en Azure. 


    Para acceder a los recursos de la API, los usuarios deben autenticarse con
    un token de Bearer válido y una subscription-key de Azure. Es posible probar
    la documentación de la API en el portal de Azure, donde se pueden realizar
    solicitudes de prueba y ver los resultados en tiempo real, así como Postman,
    Swagger o cualquier otra herramienta de desarrollo de API.
  version: "1.0"
servers:
  - url: "https://almex-api.azure-api.net/v1"
paths:
  "/journeys/{id}":
    delete:
      tags:
        - journeys
      summary: Journey
      description: >-
        ## Endpoint: DELETE `/journeys/{id}`

        ### Descripción

        Elimina una jornada específica identificada por su ID. Este endpoint
        hace un borrado lógico de la jornada en el sistema.

        ### Request Parameters

        - `id` (string): Identificador único de la jornada que se desea
        eliminar.


        - `ext_id` (string): Identificador externo de la jornada.
      operationId: delete-deletejourneybyid
      parameters:
        - name: id
          in: path
          description: El ID de la jornada que se desea eliminar
          required: true
          schema:
            type: string
        - name: driver_id
          in: query
          description: El ID del conductor asociado con la jornada.
          required: true
          schema:
            enum:
              - 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
            type: string
        - name: Authorization
          in: header
          description: Agregar el Bearer Token generado para acceder al recurso.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: >-
            ### Response: 200 OK

            La solicitud se ha completado con éxito y el documento ha sido
            eliminado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bad_Request"
              example:
                message: Journey deleted successfully.
                statusCode: 200
        "400":
          description: |
            ### Response: 400 Bad Request

            La solicitud es inválida y no puede ser procesada.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bad_Request"
              example:
                message: Invalid request. Please check your parameters and try again.
                statusCode: 400
        "401":
          description: |
            ### Response: 401 Unauthorized

            La solicitud requiere autenticación de usuario.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
              example:
                message: Unauthorized. Please provide valid authentication credentials.
                statusCode: 401
        "404":
          description: |
            ### Response: 404 Not Found

            El recurso solicitado no se encuentra disponible en el servidor.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Not_Found"
              example:
                message: Not Found. The requested resource could not be found.
                statusCode: 404
        "500":
          description: >
            ### Response: 500 Internal Server Error


            El servidor encontró una condición inesperada que le impide cumplir
            con la solicitud.


            #### Headers

            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Internal_Server_Error"
              example:
                message: Internal Server Error. Please try again later.
                statusCode: 500
    put:
      tags:
        - journeys
      summary: Journey
      description: >
        ## Endpoint PUT `journeys/{id}`

        Actualiza una jornada existente con el ID especificado. Este endpoint
        permite modificar los detalles de una jornada, incluyendo el nombre, el
        conductor asignado, el horario, el equipo utilizado, las paradas y otros
        detalles relevantes.

        ### Request Parameters

        - `id` (string): Identificador único de la jornada que se desea


        - `ext_id` (string): Identificador externo de la jornada.


        ### Descripción de los campos


        - `name` (string): Nombre de la jornada.


        - `vehicle_id` (string): ID del vehículo asignado para atender la
        jornada.


        - `driver_id` (string): ID del conductor asignado a la jornada.


        - `scheduled_date` (string): Fecha programada para la jornada en formato
        `ISO 8601`: `YYYY-MM-DD`.


        - `start_time` (string): Fecha de la jornada en formato `ISO 8601`.


        - `end_time` (string): Fecha de finalización de la jornada en formato
        `ISO 8601`.


        - `equipment` (array[object]): Lista del equipo necesario para completar
        la jornada. Cada equipo tiene los campos:'
          - `id` (string): Referencia al UUID del equipo.
          
          - `checked` (bool): Indica si el equipo fue verificado.


        - `position_list` (int, opcional): Posición de la jornada en la lista de
        atención de la fecha programada.


        - `incidents` (array[object]): Lista de incidentes asociados a la
        jornada, cada uno con los campos:
          - `id` (string): Identificador del incidente.

          - `time` (string): Hora del incidente en formato ISO 8601.


        - `status` (string): Estado de la jornada, puede tener los siguietes
        valores: 
          - `ready_to_start`: Jornada lista para iniciar. 
          
          - `in_progress`: Jornada en curso.
          
          - `completed`: Jornada completada.
          
          - `cancelled`: Jornada cancelada debido a incidentes. 


        - `invoice_url` (string, opcional): URL de la factura asociada a la
        jornada.


        - `can_reorder_stops`(bool): Indica si la lista de paradas en la jornada
        puede ser reordenada. Un valor de **true** significa que las paradas
        tienen un orden definido que debe seguirse, mientras que un valor de
        **false** indica que las paradas pueden cambiar su propiedad de
        **order**.


        Los siguientes campos componen la estructura de una jornada en general,
        y no es necesario incluirlos en el cuerpo de la solicitud ya que stops
        tiene sus respectivos endpoints para ser modificada, sin embargo, el
        esquema de validación acepta el campos de stops. Para más detalles sobre
        los campos de stops, consulta el endpoint
        `/journeys/{journey_id}/stops`.

        - `stops` (array[object]): Lista de paradas en la jornada.
      operationId: put-updatejourneybyid
      parameters:
        - name: id
          in: path
          description: El UUID del documento de la jornada que se desea actualizar
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: "El Bearer token para acceder a los recursos. "
          required: true
          schema:
            type: string
      requestBody:
        description: ""
        content:
          application/json:
            example:
              equipment:
                - id: "1234"
                  is_checked: false
                - id: "5678"
                  is_checked: false
              status: ready_to_start
      responses:
        "200":
          description: ""
        "400":
          description: |
            ### Response: 400 Bad Request

            La solicitud es inválida y no puede ser procesada.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bad_Request"
              example:
                message: Invalid request. Please check your parameters and try again.
                statusCode: 400
        "401":
          description: |
            ### Response: 401 Unauthorized

            La solicitud requiere autenticación de usuario.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
              example:
                message: Unauthorized. Please provide valid authentication credentials.
                statusCode: 401
        "404":
          description: |
            ### Response: 404 Not Found

            El recurso solicitado no se encuentra disponible en el servidor.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Not_Found"
              example:
                message: Not Found. The requested resource could not be found.
                statusCode: 404
        "500":
          description: >
            ### Response: 500 Internal Server Error


            El servidor encontró una condición inesperada que le impide cumplir
            con la solicitud.


            #### Headers

            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Internal_Server_Error"
              example:
                message: Internal Server Error. Please try again later.
                statusCode: 500
    get:
      tags:
        - journeys
      summary: Journey by Id
      description: >
        ## Endpoint: GET `/journeys/{id}`


        ### Descripción 


        Este endpoint permite obtener la información detallada de una jornada
        específica utilizando su identificador único. Es útil para consultar
        todos los detalles relacionados con una jornada


        ### Request Parameters


        - `id` (string): Identificador único de la jornada.



        - `driver_id` (string): Identificador del conductor asignado a la
        jornada.


        ### Descripción de los campos


        - `id` (string): Identificador único de la jornada.


        - `ext_id` (string): Identificador externo de la jornada.


        - `name` (string): Nombre de la jornada.


        - `driver_id` (string): Identificador del conductor asignado a la
        jornada.


        - `vehicle_id` (string): Identificador del vehículo asignado a la
        jornada.


        - `scheduled_date` (string): Fecha programada para la jornada en formato
        ISO 8601. `YYYY-MM-DD`.


        - `start_time` (string): Hora de inicio de la jornada en formato ISO
        8601.


        - `end_time` (string): Hora de finalización de la jornada en formato ISO
        8601.


        - `position_list` (int, opcional): Posición de la jornada en la lista de
        atención de la fecha programada.


        - `incidents` (array[object]): Lista de incidentes asociados a la
        jornada, cada uno con los campos:

          - `id` (string): Identificador del incidente.

          - `time` (string): Hora del incidente en formato ISO 8601.


        - `equipment` (array[object]): Lista de equipos asociados a la jornada,
        cada uno con los campos:

          - `id` (string): Identificador del equipo.

          - `is_checked` (boolean): Indica si el equipo fue verificado.


        - `invoice_url` (string, opcional): URL de la factura asociada a la
        jornada.


        - `can_reorder_stops` (boolean): Indica si se pueden reordenar las
        paradas de la jornada.


        - `stops` (array[object]): Lista de paradas en la jornada, cada una con
        los campos. **Tiene su propia descripción y endpoint.**.


        - `status` (string): Estado de la jornada, puede tener los siguietes
        valores: 
          - `ready_to_start`: Jornada lista para iniciar. 
          
          - `in_progress`: Jornada en curso.
          
          - `completed`: Jornada completada.
          
          - `canceled`: Jornada cancelada debido a incidentes. 


        ### Metadata del Registro


        - `created_at` (string): Fecha y hora de creación de la jornada.


        - `updated_at` (string): Fecha y hora de la última actualización de la
        jornada.


        - `created_by` (string): Usuario que creó la jornada.


        - `updated_by` (string): Usuario que actualizó la jornada.


        - `is_active` (boolean): Indica si la jornada está activa.
      operationId: get-getjourneybyid
      parameters:
        - name: id
          in: path
          description: El ID de la jornada para obtener los detalles.
          required: true
          schema:
            enum:
              - c98b07a3-afdd-4633-8623-686139692c18
            type: string
        - name: driver_id
          in: query
          description: El ID del transportista para filtrar los journeys.
          required: true
          schema:
            enum:
              - 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
            type: string
        - name: Authorization
          in: header
          description: "El Bearer token para acceder a los recursos. "
          required: true
          schema:
            type: string
      responses:
        "200":
          description: |
            ## Status 200
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Journey"
              example:
                _attachments: attachments/
                _etag: fe00ec7c-0000-0700-0000-667970ce0000
                _rid: JG0mANEnIR0CAAAAAAAAAA==
                _self: dbs/JG0mAA==/colls/JG0mANEnIR0=/docs/JG0mANEnIR0CAAAAAAAAAA==/
                _ts: 1719234766
                created_at: "2023-09-06T12:03:07.0000000+00:00"
                created_by: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
                driver_id: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
                end_time: "2023-09-06T11:45:00.0000000+00:00"
                equipment:
                  - checked: true
                    id: "1234"
                  - checked: true
                    id: "5678"
                id: c98b07a3-afdd-4633-8623-686139692c18
                incidents: []
                is_active: true
                journey_id: c98b07a3-afdd-4633-8623-686139692c18
                name: Ruta de Prueba
                order: ""
                start_time: "2023-09-06T11:00:00.0000000+00:00"
                status: in_progress
                stops:
                  - address:
                      city: Toluca
                      ext_number: "123"
                      state: Estado de México
                      street: Calle Manuel J Clouthier
                      zipcode: "52170"
                    appointments: null
                    check_in:
                      is_checked_in: false
                      latitude: 0
                      longitude: 0
                      timestamp: "2021-07-01T12:00:00.0000000+00:00"
                    check_out:
                      is_checked_out: false
                      latitude: 0
                      longitude: 0
                      timestamp: "2021-07-01T12:00:00.0000000+00:00"
                    contact_info:
                      contact_email: john@doe.com
                      contact_name: John Doe
                      contact_phone: "8112345678"
                      contact_position: Gerente de Logistica
                    created_at: "2024-06-24T04:08:57.0000000+00:00"
                    created_by: Admin
                    customer_id: 71e54162-8383-4296-9929-93a44ee246b3
                    id: 18f265af-b14b-41c2-a58b-9b6bd379121f
                    incidents: null
                    is_active: true
                    name: Nombre de parada actualizado
                    services_set: null
                    start_journey_to_stop:
                      latitude: 0
                      longitude: 0
                      status: pending
                      timestamp: "2021-07-01T12:00:00.0000000+00:00"
                    status: pending
                    updated_at: "2024-06-24T04:08:57.0000000+00:00"
                    updated_by: Admin
                  - address:
                      city: Monterrey
                      ext_number: "123"
                      latitude: 19.2580269586037
                      location_link: "https://goo.gl/maps/6Y5Z9X6X6ZB2"
                      longitude: -99.6172020018589
                      neighborhood: San Pedro Garza Garcia
                      state: Nuevo León
                      street: Calle de la amargura
                      zipcode: "52170"
                    checkin:
                      is_checked_in: false
                      latitude: null
                      longitude: null
                      timestamp: ""
                    checkout:
                      is_checked_out: false
                      latitude: null
                      longitude: null
                      timestamp: ""
                    contact_info:
                      contact_email: john@doe.com
                      contact_name: John Doe
                      contact_phone: "8112345678"
                      contact_position: Gerente de Logistica
                    created_at: "2018-10-10T10:00:00.0000000+00:00"
                    created_by: admin
                    customer_id: "1"
                    id: "20008000"
                    incidents: []
                    is_active: true
                    name: Costco 2
                    services_set:
                      has_form_ead: reference_to_form
                      has_form_rad: null
                      services:
                        - comments: []
                          created_at: "2024-05-22T09:24:45.0000000+00:00"
                          created_by: admin
                          customer_info:
                            email: ""
                            name: ""
                            signature: reference_to_signature
                          description: Entrega a domicilio
                          details:
                            document_return:
                              is_confirmed: false
                              is_required: true
                              total_documents: 2
                            notes: Entregar en la parte trasera del edificio
                            recipient:
                              address: >-
                                Calle de la amargura 123, San Pedro Garza
                                Garcia, Monterrey, Nuevo León, 52170
                              name: John Doe
                              phone: "8112345678"
                            references: "225998516"
                            sender:
                              address: >-
                                Calle de la amargura 123, San Pedro Garza
                                Garcia, Monterrey, Nuevo León, 52170
                              name: Amazon Services LLC
                              phone: "8112345678"
                          evidences:
                            - evidence_id: reference_to_evidence
                              id: "1"
                              is_required: true
                              status: pending
                              type: photo
                              url: ""
                            - evidence_id: reference_to_evidence
                              id: "1"
                              is_required: true
                              status: pending
                              type: photo
                              url: ""
                          guide_number: 07107779792
                          id: 7298b5ad-1b6e-4da5-96be-67a2af250b08
                          incidents: []
                          invoice: reference_to_invoice
                          is_active: true
                          merchandise:
                            - description: Caja de tornillos
                              dimensions:
                                height: 10
                                length: 10
                                volume: 1000
                                weight: 10
                                width: 10
                              evidences:
                                - evidence_id: reference_to_evidence
                                  id: "1"
                                  is_required: true
                                  status: pending
                                  type: photo
                                  url: ""
                              ext_document: Caja de tornillos
                              label_number: 0710777979000002
                              merchandise_damaged: null
                              status: pending
                              type_of_package: reference_id_to_package
                            - description: Caja de tornillos
                              dimensions:
                                height: 10
                                length: 10
                                volume: 1000
                                weight: 10
                                width: 10
                              evidences:
                                - evidence_id: reference_to_evidence
                                  id: "1"
                                  is_required: true
                                  status: pending
                                  type: photo
                                  url: ""
                              ext_document: Caja de tornillos
                              label_number: 0710777979000001
                              merchandise_damaged:
                                evidences:
                                  - evidence_id: reference_to_evidence
                                    id: "1"
                                    is_required: true
                                    status: pending
                                    type: photo
                                    url: ""
                                reason_id: reference_to_reason
                              status: pending
                              type_of_package: reference_id_to_package
                          questionnaire: reference to form id
                          status: pending
                          type: EAD
                          updated_at: "2024-05-22T09:24:45.0000000+00:00"
                          updated_by: admin
                    start_journey_to_stop:
                      latitude: null
                      longitude: null
                      status: pending
                      timestamp: ""
                    status: pending
                    stop_type: delivery
                    updated_at: "2018-10-10T10:00:00.0000000+00:00"
                    updated_by: admin
                updated_at: "2023-09-06T12:22:41.0000000+00:00"
                updated_by: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
                vehicle_id: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
        "400":
          description: |
            ### Response: 400 Bad Request

            La solicitud es inválida y no puede ser procesada.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bad_Request"
              example:
                message: Invalid request. Please check your parameters and try again.
                statusCode: 400
        "401":
          description: |
            ### Response: 401 Unauthorized

            La solicitud requiere autenticación de usuario.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
              example:
                message: Unauthorized. Please provide valid authentication credentials.
                statusCode: 401
        "404":
          description: |
            ### Response: 404 Not Found

            El recurso solicitado no se encuentra disponible en el servidor.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Not_Found"
              example:
                message: Not Found. The requested resource could not be found.
                statusCode: 404
        "500":
          description: >
            ### Response: 500 Internal Server Error


            El servidor encontró una condición inesperada que le impide cumplir
            con la solicitud.


            #### Headers

            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Internal_Server_Error"
              example:
                message: Internal Server Error. Please try again later.
                statusCode: 500
  "/journeys/{journey_id}/stops/{stop_id}":
    get:
      tags:
        - stops
      summary: Stop by Id
      description: >-
        # Endpoint: GET `/journeys/{journey_id}/stops/{stop_id}`


        Este endpoint consulta los detalles de una parada consultada mediante su
        UUID.


        ## Descripción de los campos de la parada 


        (Los campos marcados como **Opcional** son campos que pueden no estar
        presentes en el response):


        - `name` (string): Nombre de la parada.


        - `position_list` (int, opcional): Número posición en la lista de
        atención de las paradas. 


        - `ext_id` (string): ID externo de la parada.


        - `customer_id` (string): Referencia al UUID del documento del cliente
        asociado a la parada.


        - `address` (object): Detalles de la dirección de la parada.

          - `street` (string): Calle.

          - `ext_number` (string): Número exterior.

          - `neighborhood` (string): Colonia.

          - `city` (string): Ciudad.

          - `state` (string): Estado.

          - `country` (string): País.

          - `references` (string): Referencias de la dirección. **Opcional**.
          
          - `zip_code` (string): Código postal.

          - `latitude` (number): Latitud.

          - `longitude` (number): Longitud.

          - `location_link` (string): Enlace a la ubicación de la parada. **Opcional**.

        - `contact_info` (object): Información de contacto en la parada.

          - `contact_name` (string): Nombre del contacto.

          - `contact_phone` (string): Teléfono del contacto.

          - `contact_email` (string): Correo electrónico del contacto. **Opcional**.

          - `contact_position` (string): Puesto del contacto. **Opcional**.

        - `services_set` (object): Conjunto de servicios asociados a la parada.
        El objeto a su vez tiene los siguientes campos: 

          - `has_form_ead` (string | null): Referencia al UUID del documento del formulario EAD, si aplica. **Opcional**.

          - `has_form_rad` (string | null): Referencia al UUID del documento del formulario RAD, si aplica. **Opcional**.

          - `evidence_config_id_ead` (string | null): Referencia al UUID del documento de la configuración de evidencias EAD, si aplica. **Opcional**.

          - `evidence_config_id_rad` (string | null): Referencia al UUID del documento de la configuración de evidencias RAD, si aplica. **Opcional**.

          - `services` (array[object]): Lista de servicios en la parada. **Tiene su propio endpoint. Se recomienda consultar la documentación para los detalles de la estructura de los servicios.** La ruta del endpoint es `/journeys/{journey_id}/stops/{stop_id}/services`.

        - `incidents` (array): Lista de incidentes asociados a la parada.

          - `id` (string): Referencia al UUID del documento del incidente.

          - `timestamp` (string): Marca de tiempo del incidente en formato ISO 8601.

        - `appointments` (array[object]): Lista de citas en la parada, (si
        aplica), cada una con los campos: **Opcional** 

          - `start_date` (string): Fecha y hora de inicio de la cita en formato ISO 8601.

          - `end_date` (string): Fecha y hora de fin de la cita en formato ISO 8601. **Opcional**.

          - `description` (string): Descripción de la cita. **Opcional**.

         - `start_journey_to_stop` (object): Información sobre el inicio del viaje hacia la parada.

              - `status` (string): Estado del viaje de la parada, puede tener los valores: `pending` | `started` | `in_pause` | `finished`.

              - `latitude` (number): Latitud al inicio del viaje.

              - `longitude` (number): Longitud al inicio del viaje.

              - `timestamp` (string): Marca de tiempo del inicio del viaje en formato ISO 8601.

         - `check_in` (object): Información de check-in en la parada.

              - `is_checked_in` (boolean): Indica si se realizó el check-in.

              - `latitude` (number): Latitud en el check-in.

              - `longitude` (number): Longitud en el check-in.

              - `timestamp` (string): Marca de tiempo del check-in en formato ISO 8601.

         - `check_out` (object): Información de check-out en la parada.

              - `is_checked_out` (boolean): Indica si se realizó el check-out.

              - `latitude` (number): Latitud en el check-out.

              - `longitude` (number): Longitud en el check-out.

              - `timestamp` (string): Marca de tiempo del check-out en formato ISO 8601.

        - `status` (string): Estado de la parada, puede tener los valores:
        `pending` | `in_progress` | `completed` | `not_completed`.
      operationId: get-getstopbyid
      parameters:
        - name: journey_id
          in: path
          description: "El Id de la jornada a la que pertenece la parada a consultar. "
          required: true
          schema:
            enum:
              - c98b07a3-afdd-4633-8623-686139692c18
            type: string
        - name: stop_id
          in: path
          description: "El Id de la parada de la que se desea consultar los detalles. "
          required: true
          schema:
            enum:
              - 18f265af-b14b-41c2-a58b-9b6bd379121f
            type: string
        - name: Authorization
          in: header
          description: "El Bearer token para acceder a los recursos. "
          required: true
          schema:
            type: string
      responses:
        "200":
          description: >+
            ## Response


            El cuerpo de la respuesta contiene los detalles completos de una
            parada específica en una jornada, con la siguiente estructura en
            formato JSON, como se muestra en el ejemplo.

          content:
            application/json:
              example:
                data:
                  address:
                    city: Toluca
                    country: Mexico
                    ext_number: "123"
                    latitude: "19.279314612920516"
                    longitude: "99.59433090144017"
                    neighborhood: San Jeronimo Chicahualco
                    state: Estado de México
                    street: Calle Manuel J Clouthier
                    zip_code: "52170"
                  appointments:
                    - start_date: "2018-10-10T10:30:00.0000000+00:00"
                  check_in:
                    is_checked_in: false
                    latitude: 0
                    longitude: 0
                    timestamp: "2021-07-01T12:00:00.0000000+00:00"
                  check_out:
                    is_checked_out: false
                    latitude: 0
                    longitude: 0
                    timestamp: "2021-07-01T12:00:00.0000000+00:00"
                  contact_info:
                    contact_email: john@doe.com
                    contact_name: John Doe
                    contact_phone: "8112345678"
                  created_at: "2024-07-03T07:59:11.0000000+00:00"
                  created_by: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
                  customer_id: 71e54162-8383-4296-9929-93a44ee246b3
                  ext_id: "1234567890"
                  id: 88cb4ab8-65cf-46b5-8654-b4ea6386bc69
                  incidents: null
                  is_active: true
                  name: Last Stop Test
                  services_set:
                    has_form_ead: reference to form id
                    services: []
                  start_journey_to_stop:
                    latitude: 19.3421577761224
                    longitude: -99.5713479727682
                    status: started
                    timestamp: "2024-07-03T04:29:32.0000000+00:00"
                  status: pending
                  updated_at: "2024-07-03T08:17:29.0000000+00:00"
                  updated_by: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
                message: The stop was found successfully.
                statusCode: 200
    put:
      tags:
        - stops
      summary: Stop
      description: >-
        ## Endpoint: PUT `/journeys/{journey_id}/stops/{stop_id}`


        ### Descripción


        Este endpoint permite actualizar la información de una parada existente
        en el sistema. Se requiere enviar un request body de tipo JSON con los
        campos que se desean actualizar. Los campos no enviados en el cuerpo del
        request permanecerán sin cambios. Todos los campos son opcionales. La
        combinación de campos admite los que se describen a continuación.
        **Ningún campo es obligatorio pero el request body no debe enviarse
        vacío**. 

        ### Request Parameters

        - `journey_id` (string): El Id de la jornada en donde se encuentra la
        parada que se va a modificar.


        - `ext_journey_id` (string): El ID externo de la jornada en donde se
        encuentra la parada que se va a modificar.


        - `stop_id` (string): El ID de la parada que se desea modificar.

        ### Descripción de los campos


        - `name` (string): Nombre de la parada.


        - `ext_id` (string): ID externo de la parada.


        - `position_list` (int): Número posición en la lista de atención de las
        paradas. 


        - `customer_id` (string): Referencia al UUID del documento del cliente
        asociado a la parada.


        - `address` (object): Detalles de la dirección de la parada.

          - `street` (string): Calle.

          - `ext_number` (string): Número exterior.

          - `neighborhood` (string): Colonia.

          - `city` (string): Ciudad.

          - `state` (string): Estado.

          - `country` (string): País.

          - `references` (string): Referencias de la dirección. **Opcional**.
          
          - `zip_code` (string): Código postal.

          - `latitude` (number): Latitud.

          - `longitude` (number): Longitud.

          - `location_link` (string): Enlace a la ubicación de la parada. **Opcional**.

        - `contact_info` (object): Información de contacto en la parada.

          - `contact_name` (string): Nombre del contacto.

          - `contact_phone` (string): Teléfono del contacto.

          - `contact_email` (string): Correo electrónico del contacto. **Opcional**.

          - `contact_position` (string): Puesto del contacto. **Opcional**.

        - `services_set` (object): Conjunto de servicios asociados a la parada.
        El objeto a su vez tiene los siguientes campos: 

          - `has_form_ead` (string | null): Referencia al UUID del documento del formulario EAD, si aplica. **Opcional**.

          - `has_form_rad` (string | null): Referencia al UUID del documento del formulario RAD, si aplica. **Opcional**.

          - `evidence_config_id_ead` (string | null): Referencia al UUID del documento de la configuración de evidencias EAD, si aplica. **Opcional**.

          - `evidence_config_id_rad` (string | null): Referencia al UUID del documento de la configuración de evidencias RAD, si aplica. **Opcional**.

          - `services` (array): Lista de servicios en la parada. **Tiene su propio endpoint. Se recomienda consultar la documentación para los detalles de la estructura de los servicios.**.

        - `incidents` (array): Lista de incidentes asociados a la parada.

          - `incident_id` (string): Referencia al UUID del documento del incidente.

          - `timestamp` (string): Marca de tiempo del incidente en formato ISO 8601.

        - `appointments` (array): Lista de citas en la parada, cada una con:

          - `start_date` (string): Fecha y hora de inicio de la cita en formato ISO 8601.

          - `end_date` (string): Fecha y hora de fin de la cita en formato ISO 8601. **Opcional**.

          - `description` (string): Descripción de la cita. **Opcional**.
         - `start_journey_to_stop` (object): Información sobre el inicio del viaje hacia la parada.

              - `status` (string): Estado del viaje de la parada, puede tener los valores: `pending` | `started` | `in_pause` | `finished`.

              - `latitude` (number): Latitud al inicio del viaje.

              - `longitude` (number): Longitud al inicio del viaje.

              - `timestamp` (string): Marca de tiempo del inicio del viaje en formato ISO 8601.

         - `check_in` (object): Información de check-in en la parada.

              - `is_checked_in` (boolean): Indica si se realizó el check-in.

              - `latitude` (number): Latitud en el check-in.

              - `longitude` (number): Longitud en el check-in.

              - `timestamp` (string): Marca de tiempo del check-in en formato ISO 8601.

         - `check_out` (object): Información de check-out en la parada.

              - `is_checked_out` (boolean): Indica si se realizó el check-out.

              - `latitude` (number): Latitud en el check-out.

              - `longitude` (number): Longitud en el check-out.

              - `timestamp` (string): Marca de tiempo del check-out en formato ISO 8601.

        - `status` (string): Estado de la parada, puede tener los valores:
        `pending` | `in_progress` | `completed` | `not_completed`.
      operationId: put-updatestopbyid
      parameters:
        - name: journey_id
          in: path
          description: >-
            El Id de la jornada en donde se encuentra la parada que se va a
            modificar.
          required: true
          schema:
            type: string
        - name: stop_id
          in: path
          description: "El Id de la parada que se va a modificar. "
          required: true
          schema:
            type: string
        - name: ext_journey_id
          in: query
          description: >-
            El ID externo de la jornada donde se encuentra la parada a
            modificar.
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: "El Bearer token para acceder a los recursos. "
          required: true
          schema:
            type: string
      requestBody:
        description: "## Request Body"
        content:
          application/json:
            example:
              start_journey_to_stop:
                latitude: 19.3421577761224
                longitude: -99.5713479727682
                status: started
                timestamp: "2024-07-03T04:29:32.0000000+00:00"
      responses:
        "200":
          description: >-
            #### Descripción del Response:


            Retorna el statusCode, el message con el mensaje de la solicitud y
            la data con los datos actualizados.
          content:
            application/json:
              example:
                start_journey_to_stop:
                  latitude: 19.3421577761224
                  longitude: -99.5713479727682
                  status: started
                  timestamp: "2024-07-03T04:29:32.0000000+00:00"
    delete:
      tags:
        - stops
      summary: Stop
      description: >-
        ## Endpoint: DELETE `/journeys/{journey_id}/stops/{stop_id}`

        ### Descripción

        Este endpoint permite eliminar una parada específica de una jornada
        utilizando su identificador único. Al eliminar una parada, se eliminan
        todos los datos asociados a ella, incluyendo los servicios y citas
        relacionadas.

        ### Request Parameters

        - `journey_id` (string): El ID de la jornada a la que pertenece la
        parada a eliminar.


        - `ext_journey_id` (string): El ID externo de la jornada a la que
        pertenece la parada a eliminar.


        - `stop_id` (string): El ID de la parada a eliminar.
      operationId: delete-deletestopbyid
      parameters:
        - name: journey_id
          in: path
          description: "El ID de la jornada de la parada a eliminar. "
          required: true
          schema:
            type: string
        - name: stop_id
          in: path
          description: El ID externo de la jornada a la que pertenece la parada a eliminar.
          required: true
          schema:
            type: string
        - name: ext_journey_id
          in: query
          description: El ID de la parada a eliminar.
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: "El Bearer token para acceder al recurso. "
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Ejemplo del response cuando la solicitud es exitosa. "
  /journeys:
    get:
      tags:
        - journeys
      summary: Journeys
      description: >
        ## Endpoint: GET `/journeys`


        ### Descripción 


        Este endpoint permite obtener la información detallada de una jornada
        específica utilizando su identificador único. Es útil para consultar
        todos los detalles relacionados con una jornada


        ### Request Parameters


        - `driver_id` (string, opcional): Identificador del conductor asignado a
        la jornada.


        Si deseas modificar los valores del paginado o hacer consultas mediante
        filtros, puedes agregar los siguientes parámetros al query:


        - `pageSize` (number, opcional): Número de elementos por página. Valor
        por defecto: 10.



        - `page` (number, opcional): Número de la página actual. Valor por
        defecto: 1.



        - `ext_id` (string, opcional): Filtra los resultados por el ID externo
        especificado.



        - `scheduled_date` (string): Fecha programada para la jornada en formato
        ISO 8601: `YYYY-MM-DD`.



        - `fields` (string, opcional): Especifica los campos que deseas obtener
        en la respuesta, separados por comas (por ejemplo, `name,created_at`).



        - **Otros filtros**: Puedes agregar otros filtros dinámicos basados en
        los campos del modelo, agregándolos como parámetros de query.


        ### Descripción de los campos


        - `id` (string): Identificador único de la jornada.



        - `ext_id` (string): Identificador externo de la jornada.



        - `name` (string): Nombre de la jornada.



        - `vehicle_id` (string): Identificador del vehículo asignado a la
        jornada.



        - `driver_id` (string): Identificador del conductor asignado a la
        jornada.



        - `scheduled_date` (string): Fecha programada para la jornada en formato
        ISO 8601: `YYYY-MM-DD`.



        - `start_time` (string): Hora de inicio de la jornada en formato ISO
        8601.



        - `position_list` (int, opcional): Posición de la jornada en la lista de
        atención de la fecha programada.


        - `incidents` (array[object]): Lista de incidentes asociados a la
        jornada, cada uno con los campos:

          - `id` (string): Identificador del incidente.

          - `time` (string): Timestamp del incidente.


        - `equipment` (array[object]): Lista de equipos asociados a la jornada,
        cada uno con los campos:

          - `id` (string): Identificador del equipo.

          - `is_checked` (boolean): Indica si el equipo fue verificado.


        - `invoice_url` (string, opcional): URL de la factura asociada a la
        jornada.


        - `can_reorder_stops` (boolean): Indica si se pueden reordenar las
        paradas de la jornada.


        - `stops` (array[object]): Lista de paradas en la jornada, cada una con
        los campos. **Tiene su propia descripción y endpoint.**.



        - `status` (string): Estado de la jornada, puede tener los siguietes
        valores: 
          - `ready_to_start`: Jornada lista para iniciar. 
          
          - `in_progress`: Jornada en curso.
          
          - `completed`: Jornada completada.
          
          - `cancelled`: Jornada cancelada debido a incidentes. 


        ### Metadata del Registro

        - `created_at` (string): Fecha y hora de creación de la jornada.


        - `updated_at` (string): Fecha y hora de la última actualización de la
        jornada.


        - `created_by` (string): Usuario que creó la jornada.


        - `updated_by` (string): Usuario que actualizó la jornada.


        - `is_active` (boolean): Indica si la jornada está activa.
      operationId: get-getjourneys
      parameters:
        - name: Authorization
          in: header
          description: Agregar el Bearer Token generado para acceder al recurso.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Journey"
              example:
                _attachments: attachments/
                _etag: fe00ec7c-0000-0700-0000-667970ce0000
                _rid: JG0mANEnIR0CAAAAAAAAAA==
                _self: dbs/JG0mAA==/colls/JG0mANEnIR0=/docs/JG0mANEnIR0CAAAAAAAAAA==/
                _ts: 1719234766
                created_at: "2023-09-06T12:03:07.0000000+00:00"
                created_by: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
                driver_id: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
                end_time: "2023-09-06T11:45:00.0000000+00:00"
                equipment:
                  - checked: true
                    id: "1234"
                  - checked: true
                    id: "5678"
                id: c98b07a3-afdd-4633-8623-686139692c18
                incidents: []
                is_active: true
                journey_id: c98b07a3-afdd-4633-8623-686139692c18
                name: Ruta de Prueba
                order: ""
                start_time: "2023-09-06T11:00:00.0000000+00:00"
                status: in_progress
                stops:
                  - address:
                      city: Toluca
                      ext_number: "123"
                      state: Estado de México
                      street: Calle Manuel J Clouthier
                      zipcode: "52170"
                    appointments: null
                    check_in:
                      is_checked_in: false
                      latitude: 0
                      longitude: 0
                      timestamp: "2021-07-01T12:00:00.0000000+00:00"
                    check_out:
                      is_checked_out: false
                      latitude: 0
                      longitude: 0
                      timestamp: "2021-07-01T12:00:00.0000000+00:00"
                    contact_info:
                      contact_email: john@doe.com
                      contact_name: John Doe
                      contact_phone: "8112345678"
                      contact_position: Gerente de Logistica
                    created_at: "2024-06-24T04:08:57.0000000+00:00"
                    created_by: Admin
                    customer_id: 71e54162-8383-4296-9929-93a44ee246b3
                    id: 18f265af-b14b-41c2-a58b-9b6bd379121f
                    incidents: null
                    is_active: true
                    name: Nombre de parada actualizado
                    services_set: null
                    start_journey_to_stop:
                      latitude: 0
                      longitude: 0
                      status: pending
                      timestamp: "2021-07-01T12:00:00.0000000+00:00"
                    status: pending
                    updated_at: "2024-06-24T04:08:57.0000000+00:00"
                    updated_by: Admin
                  - address:
                      city: Monterrey
                      ext_number: "123"
                      latitude: 19.2580269586037
                      location_link: "https://goo.gl/maps/6Y5Z9X6X6ZB2"
                      longitude: -99.6172020018589
                      neighborhood: San Pedro Garza Garcia
                      state: Nuevo León
                      street: Calle de la amargura
                      zipcode: "52170"
                    checkin:
                      is_checked_in: false
                      latitude: null
                      longitude: null
                      timestamp: ""
                    checkout:
                      is_checked_out: false
                      latitude: null
                      longitude: null
                      timestamp: ""
                    contact_info:
                      contact_email: john@doe.com
                      contact_name: John Doe
                      contact_phone: "8112345678"
                      contact_position: Gerente de Logistica
                    created_at: "2018-10-10T10:00:00.0000000+00:00"
                    created_by: admin
                    customer_id: "1"
                    id: "20008000"
                    incidents: []
                    is_active: true
                    name: Costco 2
                    services_set:
                      has_form_ead: reference_to_form
                      has_form_rad: null
                      services:
                        - comments: []
                          created_at: "2024-05-22T09:24:45.0000000+00:00"
                          created_by: admin
                          customer_info:
                            email: ""
                            name: ""
                            signature: reference_to_signature
                          description: Entrega a domicilio
                          details:
                            document_return:
                              is_confirmed: false
                              is_required: true
                              total_documents: 2
                            notes: Entregar en la parte trasera del edificio
                            recipient:
                              address: >-
                                Calle de la amargura 123, San Pedro Garza
                                Garcia, Monterrey, Nuevo León, 52170
                              name: John Doe
                              phone: "8112345678"
                            references: "225998516"
                            sender:
                              address: >-
                                Calle de la amargura 123, San Pedro Garza
                                Garcia, Monterrey, Nuevo León, 52170
                              name: Amazon Services LLC
                              phone: "8112345678"
                          evidences:
                            - evidence_id: reference_to_evidence
                              id: "1"
                              is_required: true
                              status: pending
                              type: photo
                              url: ""
                            - evidence_id: reference_to_evidence
                              id: "1"
                              is_required: true
                              status: pending
                              type: photo
                              url: ""
                          guide_number: 07107779792
                          id: 7298b5ad-1b6e-4da5-96be-67a2af250b08
                          incidents: []
                          invoice: reference_to_invoice
                          is_active: true
                          merchandise:
                            - description: Caja de tornillos
                              dimensions:
                                height: 10
                                length: 10
                                volume: 1000
                                weight: 10
                                width: 10
                              evidences:
                                - evidence_id: reference_to_evidence
                                  id: "1"
                                  is_required: true
                                  status: pending
                                  type: photo
                                  url: ""
                              ext_document: Caja de tornillos
                              label_number: 0710777979000002
                              merchandise_damaged: null
                              status: pending
                              type_of_package: reference_id_to_package
                            - description: Caja de tornillos
                              dimensions:
                                height: 10
                                length: 10
                                volume: 1000
                                weight: 10
                                width: 10
                              evidences:
                                - evidence_id: reference_to_evidence
                                  id: "1"
                                  is_required: true
                                  status: pending
                                  type: photo
                                  url: ""
                              ext_document: Caja de tornillos
                              label_number: 0710777979000001
                              merchandise_damaged:
                                evidences:
                                  - evidence_id: reference_to_evidence
                                    id: "1"
                                    is_required: true
                                    status: pending
                                    type: photo
                                    url: ""
                                reason_id: reference_to_reason
                              status: pending
                              type_of_package: reference_id_to_package
                          questionnaire: reference to form id
                          status: pending
                          type: EAD
                          updated_at: "2024-05-22T09:24:45.0000000+00:00"
                          updated_by: admin
                    start_journey_to_stop:
                      latitude: null
                      longitude: null
                      status: pending
                      timestamp: ""
                    status: pending
                    stop_type: delivery
                    updated_at: "2018-10-10T10:00:00.0000000+00:00"
                    updated_by: admin
                updated_at: "2023-09-06T12:22:41.0000000+00:00"
                updated_by: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
                vehicle_id: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
        "400":
          description: |
            ### Response: 400 Bad Request

            La solicitud es inválida y no puede ser procesada.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bad_Request"
              example:
                message: Invalid request. Please check your parameters and try again.
                statusCode: 400
        "401":
          description: |
            ### Response: 401 Unauthorized

            La solicitud requiere autenticación de usuario.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
              example:
                message: Unauthorized. Please provide valid authentication credentials.
                statusCode: 401
        "404":
          description: |
            ### Response: 404 Not Found

            El recurso solicitado no se encuentra disponible en el servidor.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Not_Found"
              example:
                message: Not Found. The requested resource could not be found.
                statusCode: 404
        "500":
          description: >
            ### Response: 500 Internal Server Error


            El servidor encontró una condición inesperada que le impide cumplir
            con la solicitud.


            #### Headers

            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Internal_Server_Error"
              example:
                message: Internal Server Error. Please try again later.
                statusCode: 500
    post:
      tags:
        - journeys
      summary: Journeys
      description: >-
        ## Endpoint: POST `/journeys`


        Este endpoint permite crear una nueva jornada de entrega. Los datos de
        la jornada se envían en formato JSON y se almacenan en la base de datos
        CosmosDB.


        ### Request Parameters


        No se requieren parámetros adicionales en la solicitud.


        ## Descripción de los campos

        - `ext_id` (string, requerido): ID externo de la jornada.


        - `name` (string, requerido): Nombre de la jornada.



        - `vehicle_id` (string, requerido): ID del vehículo asignado para
        atender la jornada.



        - `driver_id` (string, requerido): ID del conductor asignado a la
        jornada.



        - `scheduled_date` (string, opcional): Fecha de la jornada en formato
        `ISO 8601`. El formato aceptado es `YYYY-MM-DD`, e.j. `2024-09-16`.



        - `equipment` (array[object], opcional): Lista del equipo necesario para
        completar la jornada. Cada equipo tiene los campos 

          - `id` (string, requerido): El UUID de referencia al equipo agregado. 
          
          - `is_checked` (bool, opcional): Campo para marcar si el equipo ha sido validado por el operador desde la app movil. El valor por defecto es false. 


        - `position_list` (int, opcional): Posición de la jornada en la lista de
        atención de la fecha programada. atención.


        - `can_reorder_stops` (bool, opcional): Indica si la lista de paradas en
        la jornada puede ser reordenada. Un valor de **false** significa que las
        paradas tienen un orden definido que debe seguirse, mientras que un
        valor de **true** indica que las paradas pueden cambiar su propiedad de
        `order`. Si no se especifica, el valor por defecto es **false**.


        - `invoice_url` (string, opcional): URL de la factura asociada a la
        jornada.


        Los siguientes campos componen la estructura de una jornada en general,
        y no es necesario incluirlos en el cuerpo de la solicitud ya que son
        generados con valores por defecto o tienen sus respectivos endpoints
        para ser modificados

        - `stops` (array[object]): Lista de las paradas en la jornada. Los
        campos respectivos y su respectiva descripción se encuentran en el
        endpoint de paradas. **Si no se envian valores se inicializa en []**
      operationId: post-addjourney
      parameters:
        - name: Authorization
          in: header
          description: Agregar el Bearer Token generado para acceder al recurso.
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          # Request body


          ## El cuerpo de la solicitud para crear una nueva jornada debe incluir
          los siguientes campos en formato JSON
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Add_Journey"
            example:
              can_reorder_stops: true
              driver_id: 28fe9b43-a2f0-4fd6-9a53-e439f42cdabc
              equipment:
                - id: "123456"
                  is_checked: false
              name: Ruta de Ejemplo
              start_time: "2023-09-06T11:00:00.0000000+00:00"
              vehicle_id: "2"
      responses:
        "201":
          description: >
            ### Response: 201 Created


            La jornada se ha creado exitosamente en la base de datos. La
            respuesta incluye un mensaje de confirmación y el identificador
            único de la jornada recién creada.


            #### Headers

            - `Content-Type: application/json`
          content:
            application/json:
              example:
                body:
                  journey_id: d6d867d0-0485-4224-bb5f-f308a4a01a89
                  message: Journey created successfully.
                  statusCode: 201
                  success: true
        "400":
          description: |
            ### Response: 400 Bad Request

            La solicitud es inválida y no puede ser procesada.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bad_Request"
              example:
                message: Invalid request. Please check your parameters and try again.
                statusCode: 400
        "401":
          description: |
            ### Response: 401 Unauthorized

            La solicitud requiere autenticación de usuario.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unauthorized"
              example:
                message: Unauthorized. Please provide valid authentication credentials.
                statusCode: 401
        "404":
          description: |
            ### Response: 404 Not Found

            El recurso solicitado no se encuentra disponible en el servidor.

            #### Headers
            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Not_Found"
              example:
                message: Not Found. The requested resource could not be found.
                statusCode: 404
        "500":
          description: >
            ### Response: 500 Internal Server Error


            El servidor encontró una condición inesperada que le impide cumplir
            con la solicitud.


            #### Headers

            - `Content-Type: application/json`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Internal_Server_Error"
              example:
                message: Internal Server Error. Please try again later.
                statusCode: 500
  "/customers/{id}":
    get:
      tags:
        - customers
      summary: Customer By Id
      description: >
        # GET `/customers/{id}`

        ## Descripción

        Este endpoint permite obtener los detalles de un cliente específico en
        el sistema utilizando su ID.

        ## Request Parameters

        - `id` (string): Identificador único del cliente a consultar. Debe
        proporcionarse en la URL.


        - `ext_id` (string): Identificador externo del cliente. Debe
        proporcionarse como parámetro de consulta.

        ## Respuesta

        El cuerpo de la respuesta incluye los siguientes campos:

        - `statusCode` (integer): Código de estado HTTP.


        - `message` (string): Mensaje con el resultado de la operación.


        - `data` (object): Detalles del cliente encontrado.

        ## Descripción de los campos en `data`

        - `id` (string): Identificador único del cliente.


        - `ext_id` (string): Identificador del cliente.


        - `rfc` (string): RFC del cliente.


        - `business_name` (string): Nombre comercial del cliente.


        - `is_active` (boolean): Indica si el cliente está activo.


        - `created_by` (string): Usuario que creó el registro.


        - `created_at` (string): Fecha y hora de creación del registro en
        formato ISO 8601.


        - `updated_by` (string): Usuario que realizó la última actualización del
        registro.


        - `updated_at` (string): Fecha y hora de la última actualización del
        registro en formato ISO 8601.
      operationId: get-getcustomerbyid
      parameters:
        - name: id
          in: path
          description: Identificador único del cliente a consultar.
          required: true
          schema:
            type: string
        - name: ext_id
          in: query
          description: Identificador externo del cliente.
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: El Bearer token para acceder a los recursos.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: >
            ## Respuesta exitosa

            El cuerpo de la respuesta incluye los siguientes campos:

            - `statusCode` (integer): Código de estado HTTP. - `message`
            (string): Mensaje con el resultado de la operación. - `data`
            (object): Detalles del cliente encontrado.
          content:
            application/json:
              example:
                data:
                  _attachments: attachments/
                  _etag: '"4c00e617-0000-0700-0000-667a0a100000"'
                  _rid: JG0mAMvlCSQDAAAAAAAAAA==
                  _self: >-
                    dbs/JG0mAA==/colls/JG0mAMvlCSQ=/docs/JG0mAMvlCSQDAAAAAAAAAA==/
                  _ts: 1719274000
                  business_name: Amazon Services
                  created_at: "2024-03-29T04:00:25.0000000+00:00"
                  created_by: Admin
                  customerId: f8a126c7-2e07-48e2-8d1e-3a011a82e8b5
                  id: f8a126c7-2e07-48e2-8d1e-3a011a82e8b5
                  is_active: true
                  rfc: ASD123456ASD
                  updated_at: "2024-03-29T04:00:25.0000000+00:00"
                  updated_by: Admin
                message: Customer details retrieved successfully.
                statusCode: 200
    delete:
      tags:
        - customers
      summary: Customer
      description: >
        # DELETE `/customers/{id}`

        ## Descripción

        Este endpoint permite eliminar un cliente específico del sistema
        utilizando su ID.

        ## Request Parameters

        - `id` (string): Identificador único del cliente a eliminar. Debe
        proporcionarse en la URL.


        - `ext_id` (string): Identificador externo del cliente. Debe
        proporcionarse como parámetro de consulta.
      operationId: delete-deletecustomerbyid
      parameters:
        - name: id
          in: path
          description: Identificador único del cliente a eliminar.
          required: true
          schema:
            type: string
        - name: ext_id
          in: query
          description: Identificador externo del cliente.
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: El Bearer token para acceder a los recursos.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: |
            ## Respuesta exitosa
            El cuerpo de la respuesta incluye los siguientes campos:
            - `statusCode` (integer): Código de estado HTTP.

            - `message` (string): Mensaje con el resultado de la operación.
          content:
            application/json:
              example:
                message: Customer deleted successfully.
                statusCode: 200
    put:
      tags:
        - customers
      summary: Customer
      description: >
        # PUT `/customers/{id}`

        ## Descripción

        Este endpoint permite actualizar un cliente existente. Un cliente es un
        objeto que describe una entidad que interactúa con el sistema, ya sea
        para comprar o vender bienes o servicios.

        ## Request Parameters

        - `id` (string): Identificador único del cliente a actualizar. Debe
        proporcionarse en la URL.


        - `ext_id` (string): Identificador externo del cliente. Debe
        proporcionarse como parámetro de consulta.

        ## Descripción de los campos

        Todos los campos son opcionales y puede ser una combinación de ellos,
        pero el request body no debe enviarse vacío.

        - `rfc` (string): RFC del cliente.


        - `business_name` (string): Nombre comercial del cliente.
      operationId: put-updatecustomerbyid
      parameters:
        - name: id
          in: path
          description: Identificador único del cliente a actualizar.
          required: true
          schema:
            type: string
        - name: ext_id
          in: query
          description: Identificador externo del cliente.
          required: true
          schema:
            type: string
        - name: Authorization
          in: header
          description: El Bearer token para acceder a los recursos.
          required: true
          schema:
            enum:
              - "Bearer "
            type: string
      requestBody:
        description: Cuerpo de la solicitud para actualizar un cliente existente
        content:
          application/json:
            schema:
              type: object
              properties:
                business_name:
                  type: string
                  description: Nombre comercial del cliente
                rfc:
                  type: string
                  description: RFC del cliente
            example:
              business_name: Amazon Services
              ext_id: "123456789"
              rfc: ASD123456ASD
      responses:
        "200":
          description: >
            ## Respuesta exitosa

            El cuerpo de la respuesta incluye los siguientes campos:

            - `statusCode` (integer): Código de estado HTTP. - `message`
            (string): Mensaje con el resultado de la operación. - `id` (string):
            Identificador del cliente actualizado. - `data` (object): Objeto que
            contiene los detalles del cliente actualizado.
          content:
            application/json:
              example:
                data:
                  _attachments: attachments/
                  _etag: '"4c00e617-0000-0700-0000-667a0a100000"'
                  _rid: JG0mAMvlCSQDAAAAAAAAAA==
                  _self: >-
                    dbs/JG0mAA==/colls/JG0mAMvlCSQ=/docs/JG0mAMvlCSQDAAAAAAAAAA==/
                  _ts: 1719274000
                  business_name: Amazon Services
                  created_at: "2024-03-29T04:00:25.0000000+00:00"
                  created_by: Admin
                  customerId: f8a126c7-2e07-48e2-8d1e-3a011a82e8b5
                  id: f8a126c7-2e07-48e2-8d1e-3a011a82e8b5
                  is_active: true
                  rfc: ASD123456ASD
                  updated_at: "2024-03-29T04:00:25.0000000+00:00"
                  updated_by: Admin
                id: f8a126c7-2e07-48e2-8d1e-3a011a82e8b5
                message: Customer updated successfully.
                statusCode: 200
  /Publish:
    get:
      summary: Publish
      description: Publish
      operationId: get-publish
      responses:
        "200":
          description: "null"
    post:
      summary: Publish
      description: Publish
      operationId: post-publish
      responses:
        "200":
          description: "null"
  /customers:
    post:
      tags:
        - customers
      summary: Customer
      description: |
        # API Endpoints for Customers

        ## POST `/customers`

        ### Descripción

        Este endpoint permite crear un nuevo cliente en el sistema.

        ### Request Parameters

        No se requieren parámetros adicionales en la solicitud.

        ### Campos del Request Body

        Todos los campos descritos son requeridos.

        - `ext_id` (string): Identificador externo del cliente.

        - `rfc` (string): RFC del cliente.

        - `business_name` (string): Nombre comercial del cliente.
      operationId: post-addcustomer
      parameters:
        - name: Authorization
          in: header
          description: El Bearer token para acceder a los recursos.
          required: true
          schema:
            type: string
      requestBody:
        description: Cuerpo de la solicitud para crear un nuevo cliente
        content:
          application/json:
            schema:
              type: object
              properties:
                business_name:
                  type: string
                  description: Nombre comercial del cliente
                ext_id:
                  type: string
                  description: Identificador externo del cliente
                rfc:
                  type: string
                  description: RFC del cliente
            example:
              business_name: Amazon Services
              ext_id: "123456789"
              rfc: ASD123456ASD
      responses:
        "201":
          description: >
            ## Respuesta exitosa

            El cuerpo de la respuesta incluye los siguientes campos:

            - `statusCode` (integer): Código de estado HTTP. - `message`
            (string): Mensaje con el resultado de la operación. - `id` (string):
            Identificador del cliente creado. - `data` (object): Objeto que
            contiene los detalles del cliente creado.
          content:
            application/json:
              example:
                data:
                  _attachments: attachments/
                  _etag: '"4c00e617-0000-0700-0000-667a0a100000"'
                  _rid: JG0mAMvlCSQDAAAAAAAAAA==
                  _self: >-
                    dbs/JG0mAA==/colls/JG0mAMvlCSQ=/docs/JG0mAMvlCSQDAAAAAAAAAA==/
                  _ts: 1719274000
                  business_name: Amazon Services
                  created_at: "2024-03-29T04:00:25.0000000+00:00"
                  created_by: Admin
                  customerId: f8a126c7-2e07-48e2-8d1e-3a011a82e8b5
                  id: f8a126c7-2e07-48e2-8d1e-3a011a82e8b5
                  is_active: true
                  rfc: ASD123456ASD
                  updated_at: "2024-03-29T04:00:25.0000000+00:00"
                  updated_by: Admin
                id: f8a126c7-2e07-48e2-8d1e-3a011a82e8b5
                message: Customer created successfully.
                statusCode: 201
    get:
      tags:
        - customers
      summary: Customers
      description: >
        # GET `/customers`

        ## Descripción

        Este endpoint permite obtener la lista de todos los clientes registrados
        en el sistema.

        ## Request Parameters


        **No se requieren parámetros adicionales en la solicitud.** Sin embargo,
        si deseas modificar los valores del paginado o hacer consultas mediante
        filtros, puedes agregar los siguientes parámetros al query:


        - `pageSize` (number, opcional): Número de elementos por página. Valor
        por defecto: 10.



        - `page` (number, opcional): Número de la página actual. Valor por
        defecto: 1.



        - `ext_id` (string, opcional): Filtra los resultados por el ID externo
        especificado.



        - `startDate` (string, opcional): Filtra los resultados por aquellos
        creados después de esta fecha (formato ISO 8601).



        - `endDate` (string, opcional): Filtra los resultados por aquellos
        creados antes de esta fecha (formato ISO 8601).



        - `fields` (string, opcional): Especifica los campos que deseas obtener
        en la respuesta, separados por comas (por ejemplo, `name,created_at`).



        - **Otros filtros**: Puedes agregar otros filtros dinámicos basados en
        los campos del modelo, agregándolos como parámetros de query.



        ## Respuesta

        El cuerpo de la respuesta incluye los siguientes campos:

        - `statusCode` (integer): Código de estado HTTP. - `message` (string):
        Mensaje con el resultado de la operación. - `data` (array): Lista de
        documentos de clientes encontrados.

        ## Descripción de los campos en `data`

        - `id` (string): Identificador único del cliente.


        - `ext_id` (string): Identificador externo del cliente.


        - `rfc` (string): RFC del cliente.


        - `business_name` (string): Nombre comercial del cliente.


        - `is_active` (boolean): Indica si el cliente está activo.


        - `created_by` (string): Usuario que creó el registro.


        - `created_at` (string): Fecha y hora de creación del registro en
        formato ISO 8601.


        - `updated_by` (string): Usuario que realizó la última actualización del
        registro.


        - `updated_at` (string): Fecha y hora de la última actualización del
        registro en formato ISO 8601.
      operationId: get-allcustomers
      parameters:
        - name: Authorization
          in: header
          description: "El Bearer Token para acceder al recurso. "
          required: true
          schema:
            type: string
      responses:
        "200":
          description: >
            ## Respuesta exitosa

            El cuerpo de la respuesta incluye los siguientes campos:

            - `statusCode` (integer): Código de estado HTTP. - `message`
            (string): Mensaje con el resultado de la operación. - `data`
            (array): Lista de documentos de clientes encontrados.
          content:
            application/json:
              example:
                data:
                  - _attachments: attachments/
                    _etag: '"4c00e617-0000-0700-0000-667a0a100000"'
                    _rid: JG0mAMvlCSQDAAAAAAAAAA==
                    _self: >-
                      dbs/JG0mAA==/colls/JG0mAMvlCSQ=/docs/JG0mAMvlCSQDAAAAAAAAAA==/
                    _ts: 1719274000
                    business_name: Amazon Services
                    created_at: "2024-03-29T04:00:25.0000000+00:00"
                    created_by: Admin
                    customerId: f8a126c7-2e07-48e2-8d1e-3a011a82e8b5
                    id: f8a126c7-2e07-48e2-8d1e-3a011a82e8b5
                    is_active: true
                    rfc: ASD123456ASD
                    updated_at: "2024-03-29T04:00:25.0000000+00:00"
                    updated_by: Admin
                message: Customers retrieved successfully.
                statusCode: 200
  "/journeys/{journey_id}/stops/{stop_id}/services":
    get:
      tags:
        - services
      summary: Services
      description: >-
        ## Endpoint: GET `/journeys/{journey_id}/stops/{stop_id}/services`


        ### Descripción


        Este endpoint permite obtener la lista de servicios asociados a una
        parada específica. Este endpoint requiere el identificador único de la
        parada (`stop_id`) como parámetro en la URL. La respuesta incluye un
        código de estado HTTP, un mensaje y los datos de los servicios,
        incluyendo detalles del remitente y destinatario, mercancías asociadas,
        evidencias, y otra información relevante.


        ### Request Parameters


        - `journey_id` (string): Identificador único de la jornada.



        - `stop_id` (string): Identificador único de la parada.


        ### Descripción de los campos


        #### Campos Base


        - `id` (string): Identificador único del servicio.



        - `ext_id` (string): Identificador externo del servicio.



        - `position_list` (int, opcional): Posición del servicio en la lista de
        atención.



        - `type` (string, requerido): Tipo de servicio:
          
          - `EAD`: Entregas a Domicilio
          
          - `RAD`: Recolecciones a Domicilio
          
          - `ACT_MANIFEST`: Actividad de Manifiesto
          
          - `ACT_EMPTY_EQUIPMENT`: Actividad de Recolección de Equipo Vacío
          
          - `ACT_INTERNATIONAL`: Actividad Internacional para Puertos y Aeropuertos
          
          - `ACT_CUSTOM`: Actividad Internacional para Aduanas


        - `act_international_form_id` (string): ID del formulario de actividad
        internacional. **Opcional, solo para el tipo `ACT_INTERNATIONAL`**



        - `act_custom_form_id` (string): ID del formulario de actividad de
        aduanas. **Opcional, solo para el tipo `ACT_CUSTOM`**



        - `guide_number` (string): Número de guía de 10 dígitos. **Opcional,
        solo para los tipos `EAD` o `RAD`**



        - `description` (string): Descripción del servicio. **Opcional**


        #### Detalles del Servicio


        - `details` (object): **Opcional, solo para `EAD` o `RAD`**. Contiene:

          - `sender` (object): Información del remitente

            - `name` (string): Nombre

            - `phone` (string): Teléfono

            - `address` (object): Dirección completa

          - `recipient` (object): Información del destinatario

            - `name` (string): Nombre

            - `phone` (string): Teléfono

            - `address` (object): Dirección completa

          - `references` (string): Referencias adicionales. **Opcional**

          - `notes` (string): Notas adicionales. **Opcional**

        #### Documentos y Mercancía


        - `document_return` (object): Información de retorno de documentos

          - `is_required` (boolean): Si el retorno es requerido

          - `total_documents` (number): Total de documentos

          - `is_confirmed` (boolean): Si está confirmado

        #### Campos Específicos por Tipo de Servicio


        - `merchandise` (array[object]): Lista de mercancías asociadas al
        servicio.  **Opcional, solo si aplica el tipo de servicio como `EAD` o
        `RAD`**.

          - `label_number` (string): Número de etiqueta de la mercancía.

          - `type_of_package` (string): Tipo de embalaje.

          - `description` (string): Descripción de la mercancía. **Opcional**.

          - `dimensions` (object): Dimensiones de la mercancía.

            - `length` (number): Longitud de la mercancía.

            - `width` (number): Ancho de la mercancía.

            - `height` (number): Altura de la mercancía.

            - `weight` (number): Peso de la mercancía.

            - `volume` (number): Volumen de la mercancía.

          - `merchandise_damaged` (object): Información sobre daños en la mercancía. **Opcional**

            - `reason_id` (string): Identificador de la razón del daño.

            - `evidences` (array[object]): Evidencias del daño.

          - `status` (string): Estado de la mercancía, puede tener los valores `pending` | `delivered` | `not_delivered` | `collected` | `not_collected`.

          - `ext_document` (string): Documento externo asociado a la mercancía. **Opcional**

          - `evidences` (array[object]),: Evidencias asociadas a la mercancía.

            - `id` (string): Identificador único de la evidencia.

            - `evidence_id` (string): Identificador de la evidencia.

            - `type` (string): Tipo de evidencia (por ejemplo, foto).

            - `url` (string): URL de la evidencia. **Opcional**

            - `is_required` (boolean): Indica si la evidencia es requerida.

            - `status` (string): Estado de la evidencia.

        - `questionnaire_id` (string): Referencia al cuestionario asociado al
        servicio/guía.  **Opcional, solo si aplica el tipo de servicio como
        `EAD` o `RAD`**.


        - `comments` (array[string]): Lista de comentarios asociados al
        servicio. **Opcional**


        - `invoice_url` (string): Referencia a la factura asociada al servicio.


        - `incidents` (array[object]): Lista de incidentes asociados al
        servicio. **Opcional**

          - `id` (string): Identificador único del incidente.

          - `timestamp` (string): Fecha y hora del incidente.


        - `evidences` (array[object]): Lista de evidencias asociadas al
        servicio.  **Opcional, solo si aplica el tipo de servicio como `EAD` o
        `RAD`**.

          - `id` (string): Identificador único de la evidencia.

          - `type` (string): Tipo de evidencia (po` ejemplo, foto).

          - `url` (string): URL de la evidencia. **Opcional**

          - `is_required` (boolean): Indica si la evidencia es requerida.

          - `status` (string): Estado de la evidencia, puede tener los valores `pending` | `taked`.

        #### Mercancía del Manifiesto

        - `manifest_merchandise` (array): **Opcional, solo para
        `ACT_MANIFEST`**. Lista de mercancías con:
          - `name` (string, requerido): Nombre del manifiesto de mercancía.

          - `type` (string, requerido): Tipo de operación. Valores permitidos:

            - `pickup`: Para recolección

            - `return`: Para devolución

          - `stamp` (objeto, requerido): Información del timbrado.

            - `ext_foreign_shipment_id` (string, opcional): Identificador externo del embarque foráneo.

            - `ext_invoice_id` (string, opcional): Identificador externo de la factura.

            - `ext_assigned_id` (string, opcional): Identificador externo de asignación.

            - `ext_guide_number` (string, opcional): Número de guía externo.

            - `ext_cp_id` (string, opcional): Identificador externo de la carta porte.

            - `invoice_url` (string, requerido): URL del documento de la factura. Debe ser una URL válida.

            - `stamped_at` (string, requerido): Fecha y hora del timbrado en formato ISO 8601.

          - `date` (string, requerido): Fecha del timbrado.

          - `merchandise` (array, requerido): Lista de mercancías. Debe contener al menos un elemento.
            
            - `material` (string, requerido): Código o identificador del material.

        #### Equipo Vacío Recolectado

        - `empty_equipment_collected` (array): **Opcional, solo para
        `ACT_EMPTY_EQUIPMENT`**. Lista de equipos con:
          
          - `ext_id` (string): ID externo del equipo
          
          - `type` (string): Tipo de equipo
          
          - `quantity` (number): Cantidad recolectada
          
          - `date` (string): Fecha de recolección

          - `invoice_url` (string): URL de la evidencia de recolección


        #### Metadata del Registro


        - `is_active` (boolean): Si el servicio está activo


        - `status` (string): Estado del servicio


        - `created_by` (string): Usuario que lo creó


        - `created_at` (string): Fecha de creación


        - `updated_by` (string): Usuario que actualizó


        - `updated_at` (string): Fecha de actualización
      operationId: get-getservices
      parameters:
        - name: journey_id
          in: path
          description: El UUID del documento de la jornada.
          required: true
          schema:
            enum:
              - 3f25a3a9-4ceb-4419-a781-1f942819cd7a
            type: string
        - name: stop_id
          in: path
          description: "El UUID de la parada dentro de la jornada. "
          required: true
          schema:
            enum:
              - d7fb6097-66ba-4ddd-a66e-fd7159563306
            type: string
        - name: Authorization
          in: header
          description: "El Berarer Token para acceder al recurso. "
          required: true
          schema:
            type: string
      responses:
        "200":
          description: >-
            ### Response

            La respuesta es un objeto JSON que contiene los detalles de los
            servicios asociados a la parada especificada en el viaje.
          content:
            application/json:
              example:
                data:
                  - created_at: "2024-07-07T01:31:59.0000000+00:00"
                    created_by: system
                    customer_info:
                      email: john@email.com
                      name: John Doe
                      signature_url: url to signature image
                    details:
                      document_return:
                        is_required: true
                        total_documents: 5
                      recipient:
                        address: >-
                          Del Bosque, 1003, Col. Fraccionamiento de Lincoln,
                          Monterrey, Nuevo León, CP 641000
                        name: John Doe
                        phone: "1234567890"
                      sender:
                        address: >-
                          Carr. Federal Chetumal - Quintana Roo KM 215, Colonia
                          Centro, Solidaridad QROO 66220
                        name: Amazon Services
                        phone: "1234567890"
                    ext_id: "123456789"
                    guide_number: 07107779792
                    id: cb67af97-116f-4d38-bc0b-8989a6797140
                    invoice_url: reference to url invoice doc
                    is_active: true
                    questionnaire_id: "123456789"
                    status: pending
                    type: RAD
                    updated_at: "2024-07-08T12:57:10.0000000+00:00"
                    updated_by: system
                has_form_ead: "123413241234213"
                has_form_rad: null
                message: The services were found successfully.
                statusCode: 200
                success: true
    post:
      tags:
        - services
      summary: Service
      description: >-
        ## Endpoint: POST `/journeys/{journey_id}/stops/{stop_id}/service`


        ### Descripción


        Este endpoint permite agregar un nuevo servicio a una parada específica
        dentro de un viaje 

        determinado. Es útil para registrar un nuevo servicio asociado a una
        parada en un viaje.


        ### Request Parameters


        - `journey_id` (string): Identificador único de la jornada.



        - `stop_id` (string): Identificador único de la parada.


        ### Descripción de los campos


        #### Campos Base


        - `ext_id` (string): Identificador externo del servicio.



        - `position_list` (int, opcional): Posición del servicio en la lista de
        atención.



        - `type` (string, requerido): Tipo de servicio:
          
          - `EAD`: Entregas a Domicilio
          
          - `RAD`: Recolecciones a Domicilio
          
          - `ACT_MANIFEST`: Actividad de Manifiesto
          
          - `ACT_EMPTY_EQUIPMENT`: Actividad de Recolección de Equipo Vacío
          
          - `ACT_INTERNATIONAL`: Actividad Internacional para Puertos y Aeropuertos
          
          - `ACT_CUSTOM`: Actividad Internacional para Aduanas


        - `act_international_form_id` (string): ID del formulario de actividad
        internacional. **Opcional, solo para el tipo `ACT_INTERNATIONAL`**



        - `act_custom_form_id` (string): ID del formulario de actividad de
        aduanas. **Opcional, solo para el tipo `ACT_CUSTOM`**



        - `guide_number` (string): Número de guía de 10 dígitos. **Opcional,
        solo para los tipos `EAD` o `RAD`**



        - `description` (string): Descripción del servicio. **Opcional**


        #### Detalles del Servicio


        - `details` (object): **Opcional, solo para `EAD` o `RAD`**. Contiene:

          - `sender` (object): Información del remitente

            - `name` (string): Nombre

            - `phone` (string): Teléfono

            - `address` (object): Dirección completa

          - `recipient` (object): Información del destinatario

            - `name` (string): Nombre

            - `phone` (string): Teléfono

            - `address` (object): Dirección completa

          - `references` (string): Referencias adicionales. **Opcional**

          - `notes` (string): Notas adicionales. **Opcional**


        #### Documentos y Mercancía


        - `document_return` (object): Información de retorno de documentos

          - `is_required` (boolean): Si el retorno es requerido

          - `total_documents` (number): Total de documentos

          - `is_confirmed` (boolean): Si está confirmado

        #### Campos Específicos por Tipo de Servicio


        - `merchandise` (array[object]): Lista de mercancías asociadas al
        servicio.  **Opcional, solo si aplica el tipo de servicio como `EAD` o
        `RAD`**.

          - `label_number` (string): Número de etiqueta de la mercancía.

          - `type_of_package` (string): Tipo de embalaje.

          - `description` (string): Descripción de la mercancía. **Opcional**.

          - `dimensions` (object): Dimensiones de la mercancía.

            - `length` (number): Longitud de la mercancía.

            - `width` (number): Ancho de la mercancía.

            - `height` (number): Altura de la mercancía.

            - `weight` (number): Peso de la mercancía.

            - `volume` (number): Volumen de la mercancía.

          - `merchandise_damaged` (object): Información sobre daños en la mercancía. **Opcional**

            - `reason_id` (string): Identificador de la razón del daño.

            - `evidences` (array[object]): Evidencias del daño.

          - `status` (string): Estado de la mercancía, puede tener los valores `pending` | `delivered` | `not_delivered` | `collected` | `not_collected`.

          - `ext_document` (string): Documento externo asociado a la mercancía. **Opcional**

          - `evidences` (array[object]),: Evidencias asociadas a la mercancía.

            - `id` (string): Identificador único de la evidencia.

            - `evidence_id` (string): Identificador de la evidencia.

            - `type` (string): Tipo de evidencia (por ejemplo, foto).

            - `url` (string): URL de la evidencia. **Opcional**

            - `is_required` (boolean): Indica si la evidencia es requerida.

            - `status` (string): Estado de la evidencia.

        - `questionnaire_id` (string): Referencia al cuestionario asociado al
        servicio/guía.  **Opcional, solo si aplica el tipo de servicio como
        `EAD` o `RAD`**.


        - `comments` (array[string]): Lista de comentarios asociados al
        servicio. **Opcional**


        - `invoice_url` (string): Referencia a la factura asociada al servicio.


        - `incidents` (array[object]): Lista de incidentes asociados al
        servicio. **Opcional**

          - `id` (string): Identificador único del incidente.

          - `timestamp` (string): Fecha y hora del incidente.


        - `evidences` (array[object]): Lista de evidencias asociadas al
        servicio.  **Opcional, solo si aplica el tipo de servicio como `EAD` o
        `RAD`**.

          - `id` (string): Identificador único de la evidencia.

          - `type` (string): Tipo de evidencia (po` ejemplo, foto).

          - `url` (string): URL de la evidencia. **Opcional**

          - `is_required` (boolean): Indica si la evidencia es requerida.

          - `status` (string): Estado de la evidencia, puede tener los valores `pending` | `taked`.

        #### Mercancía del Manifiesto

        - `manifest_merchandise` (array): **Opcional, solo para
        `ACT_MANIFEST`**. Lista de mercancías con:
          - `name` (string, requerido): Nombre del manifiesto de mercancía.

          - `type` (string, requerido): Tipo de operación. Valores permitidos:

            - `pickup`: Para recolección

            - `return`: Para devolución

          - `stamp` (objeto, requerido): Información del timbrado.

            - `ext_foreign_shipment_id` (string, opcional): Identificador externo del embarque foráneo.

            - `ext_invoice_id` (string, opcional): Identificador externo de la factura.

            - `ext_assigned_id` (string, opcional): Identificador externo de asignación.

            - `ext_guide_number` (string, opcional): Número de guía externo.

            - `ext_cp_id` (string, opcional): Identificador externo de la carta porte.

            - `invoice_url` (string, requerido): URL del documento de la factura. Debe ser una URL válida.

            - `stamped_at` (string, requerido): Fecha y hora del timbrado en formato ISO 8601.

          - `date` (string, requerido): Fecha del timbrado.

          - `merchandise` (array, requerido): Lista de mercancías. Debe contener al menos un elemento.
            
            - `material` (string, requerido): Código o identificador del material.

        #### Equipo Vacío Recolectado

        - `empty_equipment_collected` (array): **Opcional, solo para
        `ACT_EMPTY_EQUIPMENT`**. Lista de equipos con:
          
          - `ext_id` (string): ID externo del equipo
          
          - `type` (string): Tipo de equipo
          
          - `quantity` (number): Cantidad recolectada
          
          - `date` (string): Fecha de recolección

          - `invoice_url` (string): URL de la evidencia de recolección

      operationId: post-addservice
      parameters:
        - name: journey_id
          in: path
          description: El UUID del documento de la jornada.
          required: true
          schema:
            enum:
              - 3f25a3a9-4ceb-4419-a781-1f942819cd7a
            type: string
        - name: stop_id
          in: path
          description: "El UUID de la parada dentro de la jornada. "
          required: true
          schema:
            enum:
              - d7fb6097-66ba-4ddd-a66e-fd7159563306
            type: string
        - name: Authorization
          in: header
          description: "El Bearer Token para acceder al recurso. "
          required: true
          schema:
            type: string
      requestBody:
        description: >-
          ### El ejemplo del request body en formato json tiene la siguiente
          estructura con los campos minimos indispensables.
        content:
          application/json:
            example:
              details:
                recipient:
                  address:
                    city: Solidaridad
                    country: Mexico
[...]
