{
  "openapi": "3.0.1",
  "info": {
    "title": "Almex-EAD",
    "description": "# Almex-EAD API\nLa API de Almex-EAD es una interfaz de programación de aplicaciones (API) que permite a los desarrolladores acceder a los recursos y servicios de la plataforma de Almex-EAD en Azure. \n\nPara acceder a los recursos de la API, los usuarios deben autenticarse con un token de Bearer válido y una subscription-key de Azure. Es posible probar la documentación de la API en el portal de Azure, donde se pueden realizar solicitudes de prueba y ver los resultados en tiempo real, así como Postman, Swagger o cualquier otra herramienta de desarrollo de API.\n",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://almex-api.azure-api.net/v1"
    }
  ],
  "paths": {
    "/journeys/{journeyId}/stops/": {
      "get": {
        "tags": [
          "stops"
        ],
        "summary": "Stops",
        "description": "# GET `journeys/{journeyId}/stops`\n## Descripción\nEste endpoint recupera la lista de paradas activas asociadas a una jornada consultada mediante su UUID.\n## Request Parameters\n**No se requieren parámetros adicionales en la solicitud.** Sin embargo, si deseas modificar los valores del paginado o hacer consultas mediante filtros, puedes agregar los siguientes parámetros al query:\n\n- `pageSize` (number, opcional): Número de elementos por página. Valor por defecto: 10.\n\n\n- `page` (number, opcional): Número de la página actual. Valor por defecto: 1.\n\n\n- `ext_id` (string, opcional): Filtra los resultados por el ID externo especificado.\n\n\n- `startDate` (string, opcional): Filtra los resultados por aquellos creados después de esta fecha (formato ISO 8601).\n\n\n- `endDate` (string, opcional): Filtra los resultados por aquellos creados antes de esta fecha (formato ISO 8601).\n\n\n- `fields` (string, opcional): Especifica los campos que deseas obtener en la respuesta, separados por comas (por ejemplo, `name,created_at`).\n\n\n- **Otros filtros**: Puedes agregar otros filtros dinámicos basados en los campos del modelo, agregándolos como parámetros de query.\n\n\n## Descripción de los campos de la parada \n\n(Los campos marcados como **Opcional** son campos que pueden no estar presentes en el response):\n\n- `name` (string): Nombre de la parada.\n\n- `ext_id` (string): ID externo de la parada.\n\n- `order` (int): Número de orden de la parada. \n\n- `customer_id` (string): Referencia al UUID del documento del cliente asociado a la parada.\n\n- `address` (object): Detalles de la dirección de la parada.\n\n  - `street` (string): Calle.\n\n  - `ext_number` (string): Número exterior.\n\n  - `neighborhood` (string): Colonia.\n\n  - `city` (string): Ciudad.\n\n  - `state` (string): Estado.\n\n  - `country` (string): País.\n\n  - `references` (string): Referencias de la dirección. **Opcional**.\n  \n  - `zip_code` (string): Código postal.\n\n  - `latitude` (number): Latitud.\n\n  - `longitude` (number): Longitud.\n\n  - `location_link` (string): Enlace a la ubicación de la parada. **Opcional**.\n\n- `contact_info` (object): Información de contacto en la parada.\n\n  - `contact_name` (string): Nombre del contacto.\n\n  - `contact_phone` (string): Teléfono del contacto.\n\n  - `contact_email` (string): Correo electrónico del contacto. **Opcional**.\n\n  - `contact_position` (string): Puesto del contacto. **Opcional**.\n\n- `services_set` (object): Conjunto de servicios asociados a la parada. El objeto a su vez tiene los siguientes campos: \n\n  - `has_form_ead` (string | null): Referencia al UUID del documento del formulario EAD, si aplica. **Opcional**.\n\n  - `has_form_rad` (string | null): Referencia al UUID del documento del formulario RAD, si aplica. **Opcional**.\n\n  - `services` (array): Lista de servicios en la parada. **Tiene su propio endpoint. Se recomienda consultar la documentación para los detalles de la estructura de los servicios.**.\n\n- `incidents` (array): Lista de incidentes asociados a la parada.\n\n  - `incident_id` (string): Referencia al UUID del documento del incidente.\n\n  - `timestamp` (string): Marca de tiempo del incidente en formato ISO 8601.\n\n- `appointments` (array): Lista de citas en la parada, (si aplica), cada una con: **Opcional**\n\n  - `start_date` (string): Fecha y hora de inicio de la cita en formato ISO 8601.\n\n  - `end_date` (string): Fecha y hora de fin de la cita en formato ISO 8601. **Opcional**.\n\n  - `description` (string): Descripción de la cita. **Opcional**.\n\n - `start_journey_to_stop` (object): Información sobre el inicio del viaje hacia la parada.\n\n      - `status` (string): Estado del viaje de la parada, puede tener los valores: `pending` | `started` | `in_pause` | `finished`.\n\n      - `latitude` (number): Latitud al inicio del viaje.\n\n      - `longitude` (number): Longitud al inicio del viaje.\n\n      - `timestamp` (string): Marca de tiempo del inicio del viaje en formato ISO 8601.\n\n - `check_in` (object): Información de check-in en la parada.\n\n      - `is_checked_in` (boolean): Indica si se realizó el check-in.\n\n      - `latitude` (number): Latitud en el check-in.\n\n      - `longitude` (number): Longitud en el check-in.\n\n      - `timestamp` (string): Marca de tiempo del check-in en formato ISO 8601.\n\n - `check_out` (object): Información de check-out en la parada.\n\n      - `is_checked_out` (boolean): Indica si se realizó el check-out.\n\n      - `latitude` (number): Latitud en el check-out.\n\n      - `longitude` (number): Longitud en el check-out.\n\n      - `timestamp` (string): Marca de tiempo del check-out en formato ISO 8601.\n\n- `status` (string): Estado de la parada, puede tener los valores: `pending` | `in_progress` | `completed` | `not_completed`.",
        "operationId": "get-getstops",
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "description": "El Id de la jornada con la lista de paradas a consultar.",
            "required": true,
            "schema": {
              "enum": [
                "c98b07a3-afdd-4633-8623-686139692c18"
              ],
              "type": "string"
            }
          },
          {
            "name": "driver_id",
            "in": "query",
            "description": "El Id del conductor asociado a la jornada. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "El Bearer token para acceder a los recursos. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "## Response\n\nEl cuerpo de la respuesta contiene los detalles completos de una parada específica en una jornada, con la siguiente estructura en formato JSON:",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "address": {
                        "city": "Toluca",
                        "country": "Mexico",
                        "ext_number": "123",
                        "latitude": "19.279314612920516",
                        "longitude": "99.59433090144017",
                        "neighborhood": "San Jeronimo Chicahualco",
                        "state": "Estado de México",
                        "street": "Calle Manuel J Clouthier",
                        "zip_code": "52170"
                      },
                      "appointments": [
                        {
                          "start_date": "2018-10-10T10:30:00.0000000+00:00"
                        }
                      ],
                      "check_in": {
                        "is_checked_in": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "check_out": {
                        "is_checked_out": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "contact_info": {
                        "contact_email": "john@doe.com",
                        "contact_name": "John Doe",
                        "contact_phone": "8112345678"
                      },
                      "created_at": "2024-07-03T07:59:11.0000000+00:00",
                      "created_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                      "customer_id": "71e54162-8383-4296-9929-93a44ee246b3",
                      "ext_id": "1234567890",
                      "id": "88cb4ab8-65cf-46b5-8654-b4ea6386bc69",
                      "incidents": null,
                      "is_active": true,
                      "name": "Last Stop Test",
                      "services_set": {
                        "has_form_ead": "reference to form id",
                        "services": []
                      },
                      "start_journey_to_stop": {
                        "latitude": 19.3421577761224,
                        "longitude": -99.5713479727682,
                        "status": "started",
                        "timestamp": "2024-07-03T04:29:32.0000000+00:00"
                      },
                      "status": "pending",
                      "updated_at": "2024-07-03T08:17:29.0000000+00:00",
                      "updated_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc"
                    },
                    {
                      "address": {
                        "city": "Toluca",
                        "ext_number": "123",
                        "latitude": "19.279314612920516",
                        "longitude": "99.59433090144017",
                        "neighborhood": "San Jeronimo Chicahualco",
                        "state": "Estado de México",
                        "street": "Calle Manuel J Clouthier",
                        "zip_code": "52170"
                      },
                      "appointments": [
                        {
                          "start_date": "2018-10-10T10:30:00.0000000+00:00"
                        }
                      ],
                      "check_in": {
                        "is_checked_in": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "check_out": {
                        "is_checked_out": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "contact_info": {
                        "contact_email": "john@doe.com",
                        "contact_name": "John Doe",
                        "contact_phone": "8112345678"
                      },
                      "created_at": "2024-07-02T09:13:02.0000000+00:00",
                      "created_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                      "customer_id": "71e54162-8383-4296-9929-93a44ee246b3",
                      "ext_id": "1234",
                      "id": "c9dde442-baaf-49f0-925a-8ffef365b01b",
                      "incidents": null,
                      "is_active": true,
                      "name": "Nombre de parada actualizado",
                      "services_set": {
                        "has_form_ead": "reference to form id",
                        "services": []
                      },
                      "start_journey_to_stop": {
                        "latitude": 19.3421577761224,
                        "longitude": -99.5713479727682,
                        "status": "started",
                        "timestamp": "2024-07-03T04:29:32.0000000+00:00"
                      },
                      "status": "pending",
                      "updated_at": "2024-07-03T08:08:06.0000000+00:00",
                      "updated_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc"
                    },
                    {
                      "address": {
                        "city": "Toluca",
                        "ext_number": "123",
                        "latitude": "19.279314612920516",
                        "longitude": "99.59433090144017",
                        "neighborhood": "San Jeronimo Chicahualco",
                        "state": "Estado de México",
                        "street": "Calle Manuel J Clouthier",
                        "zip_code": "52170"
                      },
                      "appointments": [
                        {
                          "start_date": "2018-10-10T10:30:00.0000000+00:00"
                        }
                      ],
                      "check_in": {
                        "is_checked_in": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "check_out": {
                        "is_checked_out": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "contact_info": {
                        "contact_email": "john@doe.com",
                        "contact_name": "John Doe",
                        "contact_phone": "8112345678"
                      },
                      "created_at": "2024-07-03T03:29:32.0000000+00:00",
                      "created_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                      "customer_id": "71e54162-8383-4296-9929-93a44ee246b3",
                      "ext_id": "123456789",
                      "id": "fc5f03f1-1177-4217-9f59-0ee9af3ce89a",
                      "incidents": null,
                      "is_active": true,
                      "name": "Mercado libre",
                      "services_set": {
                        "has_form_ead": "reference to form id",
                        "has_form_rad": "reference to form id",
                        "services": []
                      },
                      "start_journey_to_stop": {
                        "latitude": 19.02356,
                        "longitude": -7.0254,
                        "status": "started",
                        "timestamp": "2021-07-03T10:35:00.0000000+00:00"
                      },
                      "status": "pending",
                      "updated_at": "2024-07-03T03:51:51.0000000+00:00",
                      "updated_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc"
                    }
                  ],
                  "message": "3 Stops Found Successfully",
                  "statusCode": 200
                }
              }
            }
          }
        }
      }
    },
    "/journeys/{id}": {
      "delete": {
        "tags": [
          "journeys"
        ],
        "summary": "Journey",
        "description": "## Endpoint: DELETE `/journeys/{id}`\n### Descripción\nElimina una jornada específica identificada por su ID. Este endpoint hace un borrado lógico de la jornada en el sistema.\n### Request Parameters\n- `id` (string): Identificador único de la jornada que se desea eliminar.\n\n- `ext_id` (string): Identificador externo de la jornada.",
        "operationId": "delete-deletejourneybyid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "El ID de la jornada que se desea eliminar",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "driver_id",
            "in": "query",
            "description": "El ID del conductor asociado con la jornada.",
            "required": true,
            "schema": {
              "enum": [
                "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc"
              ],
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Agregar el Bearer Token generado para acceder al recurso.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "### Response: 200 OK\nLa solicitud se ha completado con éxito y el documento ha sido eliminado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bad_Request"
                },
                "example": {
                  "message": "Journey deleted successfully.",
                  "statusCode": 200
                }
              }
            }
          },
          "400": {
            "description": "### Response: 400 Bad Request\n\nLa solicitud es inválida y no puede ser procesada.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bad_Request"
                },
                "example": {
                  "message": "Invalid request. Please check your parameters and try again.",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "### Response: 401 Unauthorized\n\nLa solicitud requiere autenticación de usuario.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Unauthorized. Please provide valid authentication credentials.",
                  "statusCode": 401
                }
              }
            }
          },
          "404": {
            "description": "### Response: 404 Not Found\n\nEl recurso solicitado no se encuentra disponible en el servidor.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Not_Found"
                },
                "example": {
                  "message": "Not Found. The requested resource could not be found.",
                  "statusCode": 404
                }
              }
            }
          },
          "500": {
            "description": "### Response: 500 Internal Server Error\n\nEl servidor encontró una condición inesperada que le impide cumplir con la solicitud.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Internal_Server_Error"
                },
                "example": {
                  "message": "Internal Server Error. Please try again later.",
                  "statusCode": 500
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "journeys"
        ],
        "summary": "Journey",
        "description": "## Endpoint POST ``journeys/{id}``\nActualiza una jornada existente con el ID especificado. Este endpoint permite modificar los detalles de una jornada, incluyendo el nombre, el conductor asignado, el horario, el equipo utilizado, las paradas y otros detalles relevantes.\n\n- `name` (string): Nombre de la jornada.\n\n- `vehicle_id` (string): ID del vehículo asignado para atender la jornada.\n\n- `driver_id` (string): ID del conductor asignado a la jornada.\n\n- `start_time` (string): Fecha de la jornada en formato `ISO 8601`.\n\n- `equipment` (array): Lista del equipo necesario para completar la jornada. Cada equipo tiene los campos:'\n  - `id_equipment` (string): Referencia al UUID del equipo.\n  \n  - `checked` (bool): Indica si el equipo fue verificado.\n\n\n- `order` (string): Orden generado de la jornada.\n\n- `incidents` (array): Lista de incidentes asociados a la jornada, cada uno con los campos `id` de referencia al incidente, y `time` para marcar la hora del incidente.\n\n- `status` (string): Estado de la jornada, puede tener los siguietes valores: \n  - `ready_to_start`: Jornada lista para iniciar. \n  \n  - `in_progress`: Jornada en curso.\n  \n  - `completed`: Jornada completada.\n  \n  - `canceled`: Jornada cancelada debido a incidentes. \n\n\n- `can_reorder_stops`(bool): Indica si la lista de paradas en la jornada puede ser reordenada. Un valor de **true** significa que las paradas tienen un orden definido que debe seguirse, mientras que un valor de **false** indica que las paradas pueden cambiar su propiedad de **order**.\n\nLos siguientes campos componen la estructura de una jornada en general, y no es necesario incluirlos en el cuerpo de la solicitud ya que stops tiene sus respectivos endpoints para ser modificada, sin embargo, el esquema de validación acepta el campos de stops. Para más detalles sobre los campos de stops, consulta el endpoint `/journeys/{journey_id}/stops`.\n- `stops` (array): Lista de paradas en la jornada. \n",
        "operationId": "put-updatejourneybyid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "El UUID del documento de la jornada que se desea actualizar",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "El Bearer token para acceder a los recursos. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "example": {
                "equipment": [
                  {
                    "id": "1234",
                    "is_checked": false
                  },
                  {
                    "id": "5678",
                    "is_checked": false
                  }
                ],
                "status": "ready_to_start"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "### Response: 400 Bad Request\n\nLa solicitud es inválida y no puede ser procesada.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bad_Request"
                },
                "example": {
                  "message": "Invalid request. Please check your parameters and try again.",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "### Response: 401 Unauthorized\n\nLa solicitud requiere autenticación de usuario.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Unauthorized. Please provide valid authentication credentials.",
                  "statusCode": 401
                }
              }
            }
          },
          "404": {
            "description": "### Response: 404 Not Found\n\nEl recurso solicitado no se encuentra disponible en el servidor.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Not_Found"
                },
                "example": {
                  "message": "Not Found. The requested resource could not be found.",
                  "statusCode": 404
                }
              }
            }
          },
          "500": {
            "description": "### Response: 500 Internal Server Error\n\nEl servidor encontró una condición inesperada que le impide cumplir con la solicitud.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Internal_Server_Error"
                },
                "example": {
                  "message": "Internal Server Error. Please try again later.",
                  "statusCode": 500
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "journeys"
        ],
        "summary": "Journey by Id",
        "description": "## Endpoint: GET `/journeys/{id}`\n\n### Descripción \n\nEste endpoint permite obtener la información detallada de una jornada específica utilizando su identificador único. Es útil para consultar todos los detalles relacionados con una jornada\n\n### Request Parameters\n\n- `id` (string): Identificador único de la jornada.\n\n\n- `ext_id` (string): Identificador externo de la jornada.\n\n### Descripción de los campos\n\n- `id` (string): Identificador único de la jornada.\n\n\n- `ext_id` (string): Identificador externo de la jornada.\n\n\n- `name` (string): Nombre de la jornada.\n\n\n- `driver_id` (string): Identificador del conductor asignado a la jornada.\n\n\n- `start_time` (string): Hora de inicio de la jornada en formato ISO 8601.\n\n\n- `end_time` (string): Hora de finalización de la jornada en formato ISO 8601.\n\n\n- `order` (string): Información del pedido para la jornada.\n\n\n- `incidents` (array): Lista de incidentes asociados a la jornada, cada uno con los campos:\n\n  - `id` (string): Identificador del incidente.\n\n  - `name` (string): Nombre del incidente.\n\n  - `description` (string): Descripción del incidente.\n\n\n- `equipment` (array): Lista de equipos asociados a la jornada, cada uno con los campos:\n\n  - `id` (string): Identificador del equipo.\n\n  - `type` (string): Tipo de equipo.\n\n  - `checked` (boolean): Indica si el equipo fue verificado.\n\n\n- `stops` (array): Lista de paradas en la jornada, cada una con los campos. **Tiene su propia descripción y endpoint.**.\n\n- `status` (string): Estado de la jornada, puede tener los siguietes valores: \n  - `ready_to_start`: Jornada lista para iniciar. \n  \n  - `in_progress`: Jornada en curso.\n  \n  - `completed`: Jornada completada.\n  \n  - `canceled`: Jornada cancelada debido a incidentes. \n\n\n### Metadata del Registro\n\n- `created_at` (string): Fecha y hora de creación de la jornada.\n\n- `updated_at` (string): Fecha y hora de la última actualización de la jornada.\n\n- `created_by` (string): Usuario que creó la jornada.\n\n- `updated_by` (string): Usuario que actualizó la jornada.\n\n- `is_active` (boolean): Indica si la jornada está activa.\n",
        "operationId": "get-getjourneybyid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "El ID de la jornada para obtener los detalles.",
            "required": true,
            "schema": {
              "enum": [
                "c98b07a3-afdd-4633-8623-686139692c18"
              ],
              "type": "string"
            }
          },
          {
            "name": "driver_id",
            "in": "query",
            "description": "El ID del transportista para filtrar los journeys.",
            "required": true,
            "schema": {
              "enum": [
                "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc"
              ],
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "El Bearer token para acceder a los recursos. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "## Status 200\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Journey"
                },
                "example": {
                  "_attachments": "attachments/",
                  "_etag": "fe00ec7c-0000-0700-0000-667970ce0000",
                  "_rid": "JG0mANEnIR0CAAAAAAAAAA==",
                  "_self": "dbs/JG0mAA==/colls/JG0mANEnIR0=/docs/JG0mANEnIR0CAAAAAAAAAA==/",
                  "_ts": 1719234766,
                  "created_at": "2023-09-06T12:03:07.0000000+00:00",
                  "created_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                  "driver_id": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                  "end_time": "2023-09-06T11:45:00.0000000+00:00",
                  "equipment": [
                    {
                      "checked": true,
                      "id": "1234"
                    },
                    {
                      "checked": true,
                      "id": "5678"
                    }
                  ],
                  "id": "c98b07a3-afdd-4633-8623-686139692c18",
                  "incidents": [],
                  "is_active": true,
                  "journey_id": "c98b07a3-afdd-4633-8623-686139692c18",
                  "name": "Ruta de Prueba",
                  "order": "",
                  "start_time": "2023-09-06T11:00:00.0000000+00:00",
                  "status": "in_progress",
                  "stops": [
                    {
                      "address": {
                        "city": "Toluca",
                        "ext_number": "123",
                        "state": "Estado de México",
                        "street": "Calle Manuel J Clouthier",
                        "zipcode": "52170"
                      },
                      "appointments": null,
                      "check_in": {
                        "is_checked_in": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "check_out": {
                        "is_checked_out": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "contact_info": {
                        "contact_email": "john@doe.com",
                        "contact_name": "John Doe",
                        "contact_phone": "8112345678",
                        "contact_position": "Gerente de Logistica"
                      },
                      "created_at": "2024-06-24T04:08:57.0000000+00:00",
                      "created_by": "Admin",
                      "customer_id": "71e54162-8383-4296-9929-93a44ee246b3",
                      "id": "18f265af-b14b-41c2-a58b-9b6bd379121f",
                      "incidents": null,
                      "is_active": true,
                      "name": "Nombre de parada actualizado",
                      "services_set": null,
                      "start_journey_to_stop": {
                        "latitude": 0,
                        "longitude": 0,
                        "status": "pending",
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "status": "pending",
                      "updated_at": "2024-06-24T04:08:57.0000000+00:00",
                      "updated_by": "Admin"
                    },
                    {
                      "address": {
                        "city": "Monterrey",
                        "ext_number": "123",
                        "latitude": 19.2580269586037,
                        "location_link": "https://goo.gl/maps/6Y5Z9X6X6ZB2",
                        "longitude": -99.6172020018589,
                        "neighborhood": "San Pedro Garza Garcia",
                        "state": "Nuevo León",
                        "street": "Calle de la amargura",
                        "zipcode": "52170"
                      },
                      "checkin": {
                        "is_checked_in": false,
                        "latitude": null,
                        "longitude": null,
                        "timestamp": ""
                      },
                      "checkout": {
                        "is_checked_out": false,
                        "latitude": null,
                        "longitude": null,
                        "timestamp": ""
                      },
                      "contact_info": {
                        "contact_email": "john@doe.com",
                        "contact_name": "John Doe",
                        "contact_phone": "8112345678",
                        "contact_position": "Gerente de Logistica"
                      },
                      "created_at": "2018-10-10T10:00:00.0000000+00:00",
                      "created_by": "admin",
                      "customer_id": "1",
                      "id": "20008000",
                      "incidents": [],
                      "is_active": true,
                      "name": "Costco 2",
                      "services_set": {
                        "has_form_ead": "reference_to_form",
                        "has_form_rad": null,
                        "services": [
                          {
                            "comments": [],
                            "created_at": "2024-05-22T09:24:45.0000000+00:00",
                            "created_by": "admin",
                            "customer_info": {
                              "email": "",
                              "name": "",
                              "signature": "reference_to_signature"
                            },
                            "description": "Entrega a domicilio",
                            "details": {
                              "document_return": {
                                "is_confirmed": false,
                                "is_required": true,
                                "total_documents": 2
                              },
                              "notes": "Entregar en la parte trasera del edificio",
                              "recipient": {
                                "address": "Calle de la amargura 123, San Pedro Garza Garcia, Monterrey, Nuevo León, 52170",
                                "name": "John Doe",
                                "phone": "8112345678"
                              },
                              "references": "225998516",
                              "sender": {
                                "address": "Calle de la amargura 123, San Pedro Garza Garcia, Monterrey, Nuevo León, 52170",
                                "name": "Amazon Services LLC",
                                "phone": "8112345678"
                              }
                            },
                            "evidences": [
                              {
                                "evidence_id": "reference_to_evidence",
                                "id": "1",
                                "is_required": true,
                                "status": "pending",
                                "type": "photo",
                                "url": ""
                              },
                              {
                                "evidence_id": "reference_to_evidence",
                                "id": "1",
                                "is_required": true,
                                "status": "pending",
                                "type": "photo",
                                "url": ""
                              }
                            ],
                            "guide_number": 7107779792,
                            "id": "7298b5ad-1b6e-4da5-96be-67a2af250b08",
                            "incidents": [],
                            "invoice": "reference_to_invoice",
                            "is_active": true,
                            "merchandise": [
                              {
                                "description": "Caja de tornillos",
                                "dimensions": {
                                  "height": 10,
                                  "length": 10,
                                  "volume": 1000,
                                  "weight": 10,
                                  "width": 10
                                },
                                "evidences": [
                                  {
                                    "evidence_id": "reference_to_evidence",
                                    "id": "1",
                                    "is_required": true,
                                    "status": "pending",
                                    "type": "photo",
                                    "url": ""
                                  }
                                ],
                                "ext_document": "Caja de tornillos",
                                "label_number": 710777979000002,
                                "merchandise_damaged": null,
                                "status": "pending",
                                "type_of_package": "reference_id_to_package"
                              },
                              {
                                "description": "Caja de tornillos",
                                "dimensions": {
                                  "height": 10,
                                  "length": 10,
                                  "volume": 1000,
                                  "weight": 10,
                                  "width": 10
                                },
                                "evidences": [
                                  {
                                    "evidence_id": "reference_to_evidence",
                                    "id": "1",
                                    "is_required": true,
                                    "status": "pending",
                                    "type": "photo",
                                    "url": ""
                                  }
                                ],
                                "ext_document": "Caja de tornillos",
                                "label_number": 710777979000001,
                                "merchandise_damaged": {
                                  "evidences": [
                                    {
                                      "evidence_id": "reference_to_evidence",
                                      "id": "1",
                                      "is_required": true,
                                      "status": "pending",
                                      "type": "photo",
                                      "url": ""
                                    }
                                  ],
                                  "reason_id": "reference_to_reason"
                                },
                                "status": "pending",
                                "type_of_package": "reference_id_to_package"
                              }
                            ],
                            "questionnaire": "reference to form id",
                            "status": "pending",
                            "type": "EAD",
                            "updated_at": "2024-05-22T09:24:45.0000000+00:00",
                            "updated_by": "admin"
                          }
                        ]
                      },
                      "start_journey_to_stop": {
                        "latitude": null,
                        "longitude": null,
                        "status": "pending",
                        "timestamp": ""
                      },
                      "status": "pending",
                      "stop_type": "delivery",
                      "updated_at": "2018-10-10T10:00:00.0000000+00:00",
                      "updated_by": "admin"
                    }
                  ],
                  "updated_at": "2023-09-06T12:22:41.0000000+00:00",
                  "updated_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                  "vehicle_id": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc"
                }
              }
            }
          },
          "400": {
            "description": "### Response: 400 Bad Request\n\nLa solicitud es inválida y no puede ser procesada.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bad_Request"
                },
                "example": {
                  "message": "Invalid request. Please check your parameters and try again.",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "### Response: 401 Unauthorized\n\nLa solicitud requiere autenticación de usuario.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Unauthorized. Please provide valid authentication credentials.",
                  "statusCode": 401
                }
              }
            }
          },
          "404": {
            "description": "### Response: 404 Not Found\n\nEl recurso solicitado no se encuentra disponible en el servidor.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Not_Found"
                },
                "example": {
                  "message": "Not Found. The requested resource could not be found.",
                  "statusCode": 404
                }
              }
            }
          },
          "500": {
            "description": "### Response: 500 Internal Server Error\n\nEl servidor encontró una condición inesperada que le impide cumplir con la solicitud.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Internal_Server_Error"
                },
                "example": {
                  "message": "Internal Server Error. Please try again later.",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/journeys/{journeyId}/stops/{stopId}": {
      "get": {
        "tags": [
          "stops"
        ],
        "summary": "Stop by Id",
        "description": "# GET /stops/\n\nEste endpoint consulta los detalles de una parada consultada mediante su UUID.\n\n## Descripción de los campos de la parada \n\n(Los campos marcados como **Opcional** son campos que pueden no estar presentes en el response):\n\n- `name` (string): Nombre de la parada.\n\n- `order` (int): Número de orden de la parada. \n\n- `ext_id` (string): ID externo de la parada.\n\n- `customer_id` (string): Referencia al UUID del documento del cliente asociado a la parada.\n\n- `address` (object): Detalles de la dirección de la parada.\n\n  - `street` (string): Calle.\n\n  - `ext_number` (string): Número exterior.\n\n  - `neighborhood` (string): Colonia.\n\n  - `city` (string): Ciudad.\n\n  - `state` (string): Estado.\n\n  - `country` (string): País.\n\n  - `references` (string): Referencias de la dirección. **Opcional**.\n  \n  - `zip_code` (string): Código postal.\n\n  - `latitude` (number): Latitud.\n\n  - `longitude` (number): Longitud.\n\n  - `location_link` (string): Enlace a la ubicación de la parada. **Opcional**.\n\n- `contact_info` (object): Información de contacto en la parada.\n\n  - `contact_name` (string): Nombre del contacto.\n\n  - `contact_phone` (string): Teléfono del contacto.\n\n  - `contact_email` (string): Correo electrónico del contacto. **Opcional**.\n\n  - `contact_position` (string): Puesto del contacto. **Opcional**.\n\n- `services_set` (object): Conjunto de servicios asociados a la parada. El objeto a su vez tiene los siguientes campos: \n\n  - `has_form_ead` (string | null): Referencia al UUID del documento del formulario EAD, si aplica. **Opcional**.\n\n  - `has_form_rad` (string | null): Referencia al UUID del documento del formulario RAD, si aplica. **Opcional**.\n\n  - `services` (array): Lista de servicios en la parada. **Tiene su propio endpoint. Se recomienda consultar la documentación para los detalles de la estructura de los servicios.**.\n\n- `incidents` (array): Lista de incidentes asociados a la parada.\n\n  - `incident_id` (string): Referencia al UUID del documento del incidente.\n\n  - `timestamp` (string): Marca de tiempo del incidente en formato ISO 8601.\n\n- `appointments` (array): Lista de citas en la parada, (si aplica), cada una con los campos: **Opcional** \n\n  - `start_date` (string): Fecha y hora de inicio de la cita en formato ISO 8601.\n\n  - `end_date` (string): Fecha y hora de fin de la cita en formato ISO 8601. **Opcional**.\n\n  - `description` (string): Descripción de la cita. **Opcional**.\n\n - `start_journey_to_stop` (object): Información sobre el inicio del viaje hacia la parada.\n\n      - `status` (string): Estado del viaje de la parada, puede tener los valores: `pending` | `started` | `in_pause` | `finished`.\n\n      - `latitude` (number): Latitud al inicio del viaje.\n\n      - `longitude` (number): Longitud al inicio del viaje.\n\n      - `timestamp` (string): Marca de tiempo del inicio del viaje en formato ISO 8601.\n\n - `check_in` (object): Información de check-in en la parada.\n\n      - `is_checked_in` (boolean): Indica si se realizó el check-in.\n\n      - `latitude` (number): Latitud en el check-in.\n\n      - `longitude` (number): Longitud en el check-in.\n\n      - `timestamp` (string): Marca de tiempo del check-in en formato ISO 8601.\n\n - `check_out` (object): Información de check-out en la parada.\n\n      - `is_checked_out` (boolean): Indica si se realizó el check-out.\n\n      - `latitude` (number): Latitud en el check-out.\n\n      - `longitude` (number): Longitud en el check-out.\n\n      - `timestamp` (string): Marca de tiempo del check-out en formato ISO 8601.\n\n- `status` (string): Estado de la parada, puede tener los valores: `pending` | `in_progress` | `completed` | `not_completed`.",
        "operationId": "get-getstopbyid",
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "description": "El Id de la jornada a la que pertenece la parada a consultar. ",
            "required": true,
            "schema": {
              "enum": [
                "c98b07a3-afdd-4633-8623-686139692c18"
              ],
              "type": "string"
            }
          },
          {
            "name": "stopId",
            "in": "path",
            "description": "El Id de la parada de la que se desea consultar los detalles. ",
            "required": true,
            "schema": {
              "enum": [
                "18f265af-b14b-41c2-a58b-9b6bd379121f"
              ],
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "El Bearer token para acceder a los recursos. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "## Response\n\nEl cuerpo de la respuesta contiene los detalles completos de una parada específica en una jornada, con la siguiente estructura en formato JSON, como se muestra en el ejemplo.\n\n",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "address": {
                      "city": "Toluca",
                      "country": "Mexico",
                      "ext_number": "123",
                      "latitude": "19.279314612920516",
                      "longitude": "99.59433090144017",
                      "neighborhood": "San Jeronimo Chicahualco",
                      "state": "Estado de México",
                      "street": "Calle Manuel J Clouthier",
                      "zip_code": "52170"
                    },
                    "appointments": [
                      {
                        "start_date": "2018-10-10T10:30:00.0000000+00:00"
                      }
                    ],
                    "check_in": {
                      "is_checked_in": false,
                      "latitude": 0,
                      "longitude": 0,
                      "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                    },
                    "check_out": {
                      "is_checked_out": false,
                      "latitude": 0,
                      "longitude": 0,
                      "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                    },
                    "contact_info": {
                      "contact_email": "john@doe.com",
                      "contact_name": "John Doe",
                      "contact_phone": "8112345678"
                    },
                    "created_at": "2024-07-03T07:59:11.0000000+00:00",
                    "created_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                    "customer_id": "71e54162-8383-4296-9929-93a44ee246b3",
                    "ext_id": "1234567890",
                    "id": "88cb4ab8-65cf-46b5-8654-b4ea6386bc69",
                    "incidents": null,
                    "is_active": true,
                    "name": "Last Stop Test",
                    "services_set": {
                      "has_form_ead": "reference to form id",
                      "services": []
                    },
                    "start_journey_to_stop": {
                      "latitude": 19.3421577761224,
                      "longitude": -99.5713479727682,
                      "status": "started",
                      "timestamp": "2024-07-03T04:29:32.0000000+00:00"
                    },
                    "status": "pending",
                    "updated_at": "2024-07-03T08:17:29.0000000+00:00",
                    "updated_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc"
                  },
                  "message": "The stop was found successfully.",
                  "statusCode": 200
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "stops"
        ],
        "summary": "Stop",
        "description": "# PUT /stops/{id}\n\nEste endpoint permite actualizar la información de una parada existente en el sistema. Se requiere enviar un request body de tipo JSON con los campos que se desean actualizar. Los campos no enviados en el cuerpo del request permanecerán sin cambios. La combinación de campos admite los que se describen a continuación. **Ningún campo es obligatorio pero el request body no debe enviarse vacío**.\n\n### Campos disponibles\n\n- `name` (string): Nombre de la parada.\n\n- `ext_id` (string): ID externo de la parada.\n\n- `order` (int): El orden de la parada.\n\n- `customer_id` (string): Referencia al UUID del documento del cliente asociado a la parada.\n\n- `address` (object): Detalles de la dirección de la parada.\n\n  - `street` (string): Calle.\n\n  - `ext_number` (string): Número exterior.\n\n  - `neighborhood` (string): Colonia.\n\n  - `city` (string): Ciudad.\n\n  - `state` (string): Estado.\n\n  - `country` (string): País.\n\n  - `references` (string): Referencias de la dirección. **Opcional**.\n  \n  - `zip_code` (string): Código postal.\n\n  - `latitude` (number): Latitud.\n\n  - `longitude` (number): Longitud.\n\n  - `location_link` (string): Enlace a la ubicación de la parada. **Opcional**.\n\n- `contact_info` (object): Información de contacto en la parada.\n\n  - `contact_name` (string): Nombre del contacto.\n\n  - `contact_phone` (string): Teléfono del contacto.\n\n  - `contact_email` (string): Correo electrónico del contacto. **Opcional**.\n\n  - `contact_position` (string): Puesto del contacto. **Opcional**.\n\n- `services_set` (object): Conjunto de servicios asociados a la parada. El objeto a su vez tiene los siguientes campos: \n\n  - `has_form_ead` (string | null): Referencia al UUID del documento del formulario EAD, si aplica. **Opcional**.\n\n  - `has_form_rad` (string | null): Referencia al UUID del documento del formulario RAD, si aplica. **Opcional**.\n\n  - `services` (array): Lista de servicios en la parada. **Tiene su propio endpoint. Se recomienda consultar la documentación para los detalles de la estructura de los servicios.**.\n\n- `incidents` (array): Lista de incidentes asociados a la parada.\n\n  - `incident_id` (string): Referencia al UUID del documento del incidente.\n\n  - `timestamp` (string): Marca de tiempo del incidente en formato ISO 8601.\n\n- `appointments` (array): Lista de citas en la parada, cada una con:\n\n  - `start_date` (string): Fecha y hora de inicio de la cita en formato ISO 8601.\n\n  - `end_date` (string): Fecha y hora de fin de la cita en formato ISO 8601. **Opcional**.\n\n  - `description` (string): Descripción de la cita. **Opcional**.\n - `start_journey_to_stop` (object): Información sobre el inicio del viaje hacia la parada.\n\n      - `status` (string): Estado del viaje de la parada, puede tener los valores: `pending` | `started` | `in_pause` | `finished`.\n\n      - `latitude` (number): Latitud al inicio del viaje.\n\n      - `longitude` (number): Longitud al inicio del viaje.\n\n      - `timestamp` (string): Marca de tiempo del inicio del viaje en formato ISO 8601.\n\n - `check_in` (object): Información de check-in en la parada.\n\n      - `is_checked_in` (boolean): Indica si se realizó el check-in.\n\n      - `latitude` (number): Latitud en el check-in.\n\n      - `longitude` (number): Longitud en el check-in.\n\n      - `timestamp` (string): Marca de tiempo del check-in en formato ISO 8601.\n\n - `check_out` (object): Información de check-out en la parada.\n\n      - `is_checked_out` (boolean): Indica si se realizó el check-out.\n\n      - `latitude` (number): Latitud en el check-out.\n\n      - `longitude` (number): Longitud en el check-out.\n\n      - `timestamp` (string): Marca de tiempo del check-out en formato ISO 8601.\n\n- `status` (string): Estado de la parada, puede tener los valores: `pending` | `in_progress` | `completed` | `not_completed`.",
        "operationId": "put-updatestopbyid",
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "description": "El Id de la jornada en donde se encuentra la parada que se va a modificar.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stopId",
            "in": "path",
            "description": "El Id de la parada que se va a modificar. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext_id",
            "in": "query",
            "description": "El Id externo de la jornada, como llave de partición.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "El Bearer token para acceder a los recursos. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "# PUT /stops/{id}\n\nEste endpoint permite actualizar la información de una parada existente en el sistema. Se requiere enviar un request body de tipo JSON con los campos que se desean actualizar. Los campos no enviados en el cuerpo del request permanecerán sin cambios. La combinación de campos admite los que se describen a continuación. **Ningún campo es obligatorio pero el request body no debe enviarse vacío**.\n\n### Campos disponibles\n\n- `name` (string): Nombre de la parada.\n- `customer_id` (string): Identificador del cliente asociado a la parada.\n- `address` (object): Detalles de la dirección de la parada.\n\n  - `street` (string): Calle.\n\n  - `ext_number` (string): Número exterior.\n\n  - `zipcode` (string): Código postal.\n\n  - `city` (string): Ciudad.\n\n  - `state` (string): Estado.\n\n- `contact_info` (object): Información de contacto en la parada.\n\n  - `contact_name` (string): Nombre del contacto.\n\n  - `contact_phone` (string): Teléfono del contacto.\n\n  - `contact_email` (string): Correo electrónico del contacto.\n\n  - `contact_position` (string): Posición del contacto.\n\n- `incidents` (array): Lista de incidentes asociados a la parada.\n\n  - `incident_id` (string): Referencia al documento del incidente.\n\n- `appointments` (array): Lista de citas en la parada, cada una con:\n\n  - `start_date` (string): Fecha y hora de inicio de la cita.\n\n  - `end_date` (string): Fecha y hora de fin de la cita.\n\n  - `description` (string): Descripción de la cita.\n\n - `start_journey_to_stop` (object): Información sobre el inicio del viaje hacia la parada.\n\n      - `status` (string): Estado del viaje de la parada, puede tener los valores: `pending` | `started` | `in_pause` | `finished`.\n\n      - `latitude` (number): Latitud al inicio del viaje.\n\n      - `longitude` (number): Longitud al inicio del viaje.\n\n      - `timestamp` (string): Marca de tiempo del inicio del viaje.\n\n - `check_in` (object): Información de check-in en la parada.\n\n      - `is_checked_in` (boolean): Indica si se realizó el check-in.\n\n      - `latitude` (number): Latitud en el check-in.\n\n      - `longitude` (number): Longitud en el check-in.\n\n      - `timestamp` (string): Marca de tiempo del check-in.\n\n - `check_out` (object): Información de check-out en la parada.\n\n      - `is_checked_out` (boolean): Indica si se realizó el check-out.\n\n      - `latitude` (number): Latitud en el check-out.\n\n      - `longitude` (number): Longitud en el check-out.\n\n      - `timestamp` (string): Marca de tiempo del check-out.\n\n- `status` (string): Estado de la parada, puede tener los valores: `pending` | `in_progress` | `completed` | `not_completed`.",
          "content": {
            "application/json": {
              "example": {
                "start_journey_to_stop": {
                  "latitude": 19.3421577761224,
                  "longitude": -99.5713479727682,
                  "status": "started",
                  "timestamp": "2024-07-03T04:29:32.0000000+00:00"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "#### Descripción del Response:\n\nRetorna el statusCode, el message con el mensaje de la solicitud y la data con los datos actualizados.",
            "content": {
              "application/json": {
                "example": {
                  "start_journey_to_stop": {
                    "latitude": 19.3421577761224,
                    "longitude": -99.5713479727682,
                    "status": "started",
                    "timestamp": "2024-07-03T04:29:32.0000000+00:00"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "stops"
        ],
        "summary": "Stop",
        "description": "DeleteStopById",
        "operationId": "delete-deletestopbyid",
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stopId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "El Bearer token para acceder al recurso. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "null"
          }
        }
      }
    },
    "/journeys": {
      "get": {
        "tags": [
          "journeys"
        ],
        "summary": "Journeys",
        "description": "## Endpoint: GET `/journeys`\n\n### Descripción \n\nEste endpoint permite obtener la información detallada de una jornada específica utilizando su identificador único. Es útil para consultar todos los detalles relacionados con una jornada\n\n### Request Parameters\n\n**No se requieren parámetros adicionales en la solicitud.** Sin embargo, si deseas modificar los valores del paginado o hacer consultas mediante filtros, puedes agregar los siguientes parámetros al query:\n\n- `pageSize` (number, opcional): Número de elementos por página. Valor por defecto: 10.\n\n\n- `page` (number, opcional): Número de la página actual. Valor por defecto: 1.\n\n\n- `ext_id` (string, opcional): Filtra los resultados por el ID externo especificado.\n\n\n- `startDate` (string, opcional): Filtra los resultados por aquellos creados después de esta fecha (formato ISO 8601).\n\n\n- `endDate` (string, opcional): Filtra los resultados por aquellos creados antes de esta fecha (formato ISO 8601).\n\n\n- `fields` (string, opcional): Especifica los campos que deseas obtener en la respuesta, separados por comas (por ejemplo, `name,created_at`).\n\n\n- **Otros filtros**: Puedes agregar otros filtros dinámicos basados en los campos del modelo, agregándolos como parámetros de query.\n\n### Descripción de los campos\n\n- `id` (string): Identificador único de la jornada.\n\n\n- `ext_id` (string): Identificador externo de la jornada.\n\n\n- `name` (string): Nombre de la jornada.\n\n\n- `driver_id` (string): Identificador del conductor asignado a la jornada.\n\n\n- `start_time` (string): Hora de inicio de la jornada en formato ISO 8601.\n\n\n- `end_time` (string): Hora de finalización de la jornada en formato ISO 8601.\n\n\n- `order` (string): Información del pedido para la jornada.\n\n\n- `incidents` (array): Lista de incidentes asociados a la jornada, cada uno con los campos:\n\n  - `id` (string): Identificador del incidente.\n\n  - `name` (string): Nombre del incidente.\n\n  - `description` (string): Descripción del incidente.\n\n\n- `equipment` (array): Lista de equipos asociados a la jornada, cada uno con los campos:\n\n  - `id` (string): Identificador del equipo.\n\n  - `type` (string): Tipo de equipo.\n\n  - `checked` (boolean): Indica si el equipo fue verificado.\n\n\n- `stops` (array): Lista de paradas en la jornada, cada una con los campos. **Tiene su propia descripción y endpoint.**.\n\n- `status` (string): Estado de la jornada, puede tener los siguietes valores: \n  - `ready_to_start`: Jornada lista para iniciar. \n  \n  - `in_progress`: Jornada en curso.\n  \n  - `completed`: Jornada completada.\n  \n  - `canceled`: Jornada cancelada debido a incidentes. \n\n\n### Metadata dek Registro\n- `created_at` (string): Fecha y hora de creación de la jornada.\n\n- `updated_at` (string): Fecha y hora de la última actualización de la jornada.\n\n- `created_by` (string): Usuario que creó la jornada.\n\n- `updated_by` (string): Usuario que actualizó la jornada.\n\n- `is_active` (boolean): Indica si la jornada está activa.\n",
        "operationId": "get-getjourneys",
        "parameters": [
          {
            "name": "driver_id",
            "in": "query",
            "description": " El ID del transportista para filtrar los journeys.",
            "required": true,
            "schema": {
              "enum": [
                "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc"
              ],
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Agregar el Bearer Token generado para acceder al recurso.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Journey"
                },
                "example": {
                  "_attachments": "attachments/",
                  "_etag": "fe00ec7c-0000-0700-0000-667970ce0000",
                  "_rid": "JG0mANEnIR0CAAAAAAAAAA==",
                  "_self": "dbs/JG0mAA==/colls/JG0mANEnIR0=/docs/JG0mANEnIR0CAAAAAAAAAA==/",
                  "_ts": 1719234766,
                  "created_at": "2023-09-06T12:03:07.0000000+00:00",
                  "created_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                  "driver_id": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                  "end_time": "2023-09-06T11:45:00.0000000+00:00",
                  "equipment": [
                    {
                      "checked": true,
                      "id": "1234"
                    },
                    {
                      "checked": true,
                      "id": "5678"
                    }
                  ],
                  "id": "c98b07a3-afdd-4633-8623-686139692c18",
                  "incidents": [],
                  "is_active": true,
                  "journey_id": "c98b07a3-afdd-4633-8623-686139692c18",
                  "name": "Ruta de Prueba",
                  "order": "",
                  "start_time": "2023-09-06T11:00:00.0000000+00:00",
                  "status": "in_progress",
                  "stops": [
                    {
                      "address": {
                        "city": "Toluca",
                        "ext_number": "123",
                        "state": "Estado de México",
                        "street": "Calle Manuel J Clouthier",
                        "zipcode": "52170"
                      },
                      "appointments": null,
                      "check_in": {
                        "is_checked_in": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "check_out": {
                        "is_checked_out": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "contact_info": {
                        "contact_email": "john@doe.com",
                        "contact_name": "John Doe",
                        "contact_phone": "8112345678",
                        "contact_position": "Gerente de Logistica"
                      },
                      "created_at": "2024-06-24T04:08:57.0000000+00:00",
                      "created_by": "Admin",
                      "customer_id": "71e54162-8383-4296-9929-93a44ee246b3",
                      "id": "18f265af-b14b-41c2-a58b-9b6bd379121f",
                      "incidents": null,
                      "is_active": true,
                      "name": "Nombre de parada actualizado",
                      "services_set": null,
                      "start_journey_to_stop": {
                        "latitude": 0,
                        "longitude": 0,
                        "status": "pending",
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "status": "pending",
                      "updated_at": "2024-06-24T04:08:57.0000000+00:00",
                      "updated_by": "Admin"
                    },
                    {
                      "address": {
                        "city": "Monterrey",
                        "ext_number": "123",
                        "latitude": 19.2580269586037,
                        "location_link": "https://goo.gl/maps/6Y5Z9X6X6ZB2",
                        "longitude": -99.6172020018589,
                        "neighborhood": "San Pedro Garza Garcia",
                        "state": "Nuevo León",
                        "street": "Calle de la amargura",
                        "zipcode": "52170"
                      },
                      "checkin": {
                        "is_checked_in": false,
                        "latitude": null,
                        "longitude": null,
                        "timestamp": ""
                      },
                      "checkout": {
                        "is_checked_out": false,
                        "latitude": null,
                        "longitude": null,
                        "timestamp": ""
                      },
                      "contact_info": {
                        "contact_email": "john@doe.com",
                        "contact_name": "John Doe",
                        "contact_phone": "8112345678",
                        "contact_position": "Gerente de Logistica"
                      },
                      "created_at": "2018-10-10T10:00:00.0000000+00:00",
                      "created_by": "admin",
                      "customer_id": "1",
                      "id": "20008000",
                      "incidents": [],
                      "is_active": true,
                      "name": "Costco 2",
                      "services_set": {
                        "has_form_ead": "reference_to_form",
                        "has_form_rad": null,
                        "services": [
                          {
                            "comments": [],
                            "created_at": "2024-05-22T09:24:45.0000000+00:00",
                            "created_by": "admin",
                            "customer_info": {
                              "email": "",
                              "name": "",
                              "signature": "reference_to_signature"
                            },
                            "description": "Entrega a domicilio",
                            "details": {
                              "document_return": {
                                "is_confirmed": false,
                                "is_required": true,
                                "total_documents": 2
                              },
                              "notes": "Entregar en la parte trasera del edificio",
                              "recipient": {
                                "address": "Calle de la amargura 123, San Pedro Garza Garcia, Monterrey, Nuevo León, 52170",
                                "name": "John Doe",
                                "phone": "8112345678"
                              },
                              "references": "225998516",
                              "sender": {
                                "address": "Calle de la amargura 123, San Pedro Garza Garcia, Monterrey, Nuevo León, 52170",
                                "name": "Amazon Services LLC",
                                "phone": "8112345678"
                              }
                            },
                            "evidences": [
                              {
                                "evidence_id": "reference_to_evidence",
                                "id": "1",
                                "is_required": true,
                                "status": "pending",
                                "type": "photo",
                                "url": ""
                              },
                              {
                                "evidence_id": "reference_to_evidence",
                                "id": "1",
                                "is_required": true,
                                "status": "pending",
                                "type": "photo",
                                "url": ""
                              }
                            ],
                            "guide_number": 7107779792,
                            "id": "7298b5ad-1b6e-4da5-96be-67a2af250b08",
                            "incidents": [],
                            "invoice": "reference_to_invoice",
                            "is_active": true,
                            "merchandise": [
                              {
                                "description": "Caja de tornillos",
                                "dimensions": {
                                  "height": 10,
                                  "length": 10,
                                  "volume": 1000,
                                  "weight": 10,
                                  "width": 10
                                },
                                "evidences": [
                                  {
                                    "evidence_id": "reference_to_evidence",
                                    "id": "1",
                                    "is_required": true,
                                    "status": "pending",
                                    "type": "photo",
                                    "url": ""
                                  }
                                ],
                                "ext_document": "Caja de tornillos",
                                "label_number": 710777979000002,
                                "merchandise_damaged": null,
                                "status": "pending",
                                "type_of_package": "reference_id_to_package"
                              },
                              {
                                "description": "Caja de tornillos",
                                "dimensions": {
                                  "height": 10,
                                  "length": 10,
                                  "volume": 1000,
                                  "weight": 10,
                                  "width": 10
                                },
                                "evidences": [
                                  {
                                    "evidence_id": "reference_to_evidence",
                                    "id": "1",
                                    "is_required": true,
                                    "status": "pending",
                                    "type": "photo",
                                    "url": ""
                                  }
                                ],
                                "ext_document": "Caja de tornillos",
                                "label_number": 710777979000001,
                                "merchandise_damaged": {
                                  "evidences": [
                                    {
                                      "evidence_id": "reference_to_evidence",
                                      "id": "1",
                                      "is_required": true,
                                      "status": "pending",
                                      "type": "photo",
                                      "url": ""
                                    }
                                  ],
                                  "reason_id": "reference_to_reason"
                                },
                                "status": "pending",
                                "type_of_package": "reference_id_to_package"
                              }
                            ],
                            "questionnaire": "reference to form id",
                            "status": "pending",
                            "type": "EAD",
                            "updated_at": "2024-05-22T09:24:45.0000000+00:00",
                            "updated_by": "admin"
                          }
                        ]
                      },
                      "start_journey_to_stop": {
                        "latitude": null,
                        "longitude": null,
                        "status": "pending",
                        "timestamp": ""
                      },
                      "status": "pending",
                      "stop_type": "delivery",
                      "updated_at": "2018-10-10T10:00:00.0000000+00:00",
                      "updated_by": "admin"
                    }
                  ],
                  "updated_at": "2023-09-06T12:22:41.0000000+00:00",
                  "updated_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                  "vehicle_id": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc"
                }
              }
            }
          },
          "400": {
            "description": "### Response: 400 Bad Request\n\nLa solicitud es inválida y no puede ser procesada.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bad_Request"
                },
                "example": {
                  "message": "Invalid request. Please check your parameters and try again.",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "### Response: 401 Unauthorized\n\nLa solicitud requiere autenticación de usuario.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Unauthorized. Please provide valid authentication credentials.",
                  "statusCode": 401
                }
              }
            }
          },
          "404": {
            "description": "### Response: 404 Not Found\n\nEl recurso solicitado no se encuentra disponible en el servidor.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Not_Found"
                },
                "example": {
                  "message": "Not Found. The requested resource could not be found.",
                  "statusCode": 404
                }
              }
            }
          },
          "500": {
            "description": "### Response: 500 Internal Server Error\n\nEl servidor encontró una condición inesperada que le impide cumplir con la solicitud.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Internal_Server_Error"
                },
                "example": {
                  "message": "Internal Server Error. Please try again later.",
                  "statusCode": 500
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "journeys"
        ],
        "summary": "Journeys",
        "description": "## Endpoint: POST `/journeys`\n\nEste endpoint permite crear una nueva jornada de entrega. Los datos de la jornada se envían en formato JSON y se almacenan en la base de datos CosmosDB.\n\n### Request Parameters\n\nNo se requieren parámetros adicionales en la solicitud.\n\n## Descripción de los campos\n\n- `name` (string, requerido): Nombre de la jornada.\n\n\n- `vehicle_id` (string, requerido): ID del vehículo asignado para atender la jornada.\n\n\n- `driver_id` (string, requerido): ID del conductor asignado a la jornada.\n\n\n- `start_time` (string, requerido): Fecha de la jornada en formato `ISO 8601`.\n\n\n- `equipment` (array, requerido): Lista del equipo necesario para completar la jornada. Cada equipo tiene los campos \n\n  - `id` (string, requerido): El UUID de referencia al equipo agregado. \n  \n  - `checked` (bool, opcional): Campo para marcar si el equipo ha sido validado por el operador desde la app movil. El valor por defecto es false. \n\n\n- `order` (string): Información del pedido para la jornada.\n\n\n- `can_reorder_stops` (bool): Indica si la lista de paradas en la jornada puede ser reordenada. Un valor de **false** significa que las paradas tienen un orden definido que debe seguirse, mientras que un valor de **true** indica que las paradas pueden cambiar su propiedad de `order`.\n\nLos siguientes campos componen la estructura de una jornada en general, y no es necesario incluirlos en el cuerpo de la solicitud ya que son generados con valores por defecto o tienen sus respectivos endpoints para ser modificados\n\n- `incidents` (array): Lista de incidentes asociados a la jornada, cada uno con los campos `id`, `name`, y `description`. **Se inicializa en null**\n\n\n- `stops` (array): Lista de paradas en la jornada, cada una con los campos `id`, `name`, `customer_id`, `address`, `contact_info`, `services_set`, `incidents`, `start_journey_to_stop`, `checkin`, y `checkout`. **Tiene su propio endpoint**\n\n\n- `status` (string): Estado de la jornada, puede tener los siguietes valores: \n  - `ready_to_start`: Jornada lista para iniciar. \n  \n  - `in_progress`: Jornada en curso.\n  \n  - `completed`: Jornada completada.\n  \n  - `canceled`: Jornada cancelada debido a incidentes. ",
        "operationId": "post-addjourney",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Agregar el Bearer Token generado para acceder al recurso.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "# Request body\n\n## El cuerpo de la solicitud para crear una nueva jornada debe incluir los siguientes campos en formato JSON",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Add_Journey"
              },
              "example": {
                "can_reorder_stops": true,
                "driver_id": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                "equipment": [
                  {
                    "id": "123456",
                    "is_checked": false
                  }
                ],
                "name": "Ruta de Ejemplo",
                "start_time": "2023-09-06T11:00:00.0000000+00:00",
                "vehicle_id": "2"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "### Response: 201 Created\n\nLa jornada se ha creado exitosamente en la base de datos. La respuesta incluye un mensaje de confirmación y el identificador único de la jornada recién creada.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "example": {
                  "body": {
                    "journey_id": "d6d867d0-0485-4224-bb5f-f308a4a01a89",
                    "message": "Journey created successfully.",
                    "statusCode": 201,
                    "success": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "### Response: 400 Bad Request\n\nLa solicitud es inválida y no puede ser procesada.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bad_Request"
                },
                "example": {
                  "message": "Invalid request. Please check your parameters and try again.",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "### Response: 401 Unauthorized\n\nLa solicitud requiere autenticación de usuario.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                },
                "example": {
                  "message": "Unauthorized. Please provide valid authentication credentials.",
                  "statusCode": 401
                }
              }
            }
          },
          "404": {
            "description": "### Response: 404 Not Found\n\nEl recurso solicitado no se encuentra disponible en el servidor.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Not_Found"
                },
                "example": {
                  "message": "Not Found. The requested resource could not be found.",
                  "statusCode": 404
                }
              }
            }
          },
          "500": {
            "description": "### Response: 500 Internal Server Error\n\nEl servidor encontró una condición inesperada que le impide cumplir con la solicitud.\n\n#### Headers\n- `Content-Type: application/json`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Internal_Server_Error"
                },
                "example": {
                  "message": "Internal Server Error. Please try again later.",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/journeys/{journeyId}/stops": {
      "post": {
        "tags": [
          "stops"
        ],
        "summary": "Stops",
        "description": "## Post /journeys/{journeyId}/stops\n\nEste endpoint permite crear una nueva parada a una jornada seleccionada. El cuerpo de la solicitud para agregar una nueva parada debe incluir los siguientes campos en formato JSON:\n\n## Campos obligatorios\n\n- `name` (string): Nombre de la parada.\n\n- `ext_id` (string): ID externo de la parada.\n\n- `order` (int): El orden de la parada.\n\n- `customer_id` (string): Referencia al UUID del documento del cliente asociado a la parada.\n\n- `address` (object): Detalles de la dirección de la parada.\n\n  - `street` (string): Calle.\n\n  - `ext_number` (string): Número exterior.\n\n  - `neighborhood` (string): Colonia.\n\n  - `city` (string): Ciudad.\n\n  - `state` (string): Estado.\n\n  - `country` (string): País.\n\n  - `references` (string): Referencias de la dirección. **Opcional**.\n  \n  - `zip_code` (string): Código postal.\n\n  - `latitude` (number): Latitud.\n\n  - `longitude` (number): Longitud.\n\n  - `location_link` (string): Enlace a la ubicación de la parada. **Opcional**.\n\n- `contact_info` (object): Información de contacto en la parada.\n\n  - `contact_name` (string): Nombre del contacto.\n\n  - `contact_phone` (string): Teléfono del contacto.\n\n  - `contact_email` (string): Correo electrónico del contacto. **Opcional**.\n\n  - `contact_position` (string): Puesto del contacto. **Opcional**.\n\n- `services_set` (object): Conjunto de servicios asociados a la parada. El objeto a su vez tiene los siguientes campos: \n\n  - `has_form_ead` (string | null): Referencia al UUID del documento del formulario EAD, si aplica. **Opcional**.\n\n  - `has_form_rad` (string | null): Referencia al UUID del documento del formulario RAD, si aplica. **Opcional**.\n\n  - `services` (array): Lista de servicios en la parada. **Tiene su propio endpoint. Se recomienda consultar la documentación para los detalles de la estructura de los servicios.**.\n\n\n- `appointments` (array): Lista de citas de la parada, (si aplica), cada una con los campos: **Opcional**\n\n  - `start_date` (string): Fecha y hora de inicio de la cita en formato ISO 8601.\n\n  - `end_date` (string): Fecha y hora de fin de la cita en formato ISO 8601. **Opcional**.\n\n  - `description` (string): Descripción de la cita. **Opcional**.",
        "operationId": "post-addstop",
        "parameters": [
          {
            "name": "journeyId",
            "in": "path",
            "description": "El Id de la jornada a la que se desea agregar la nueva parada.",
            "required": true,
            "schema": {
              "enum": [
                "c98b07a3-afdd-4633-8623-686139692c18"
              ],
              "type": "string"
            }
          },
          {
            "name": "driver_id",
            "in": "query",
            "description": "El Id del conductor asignado a la jornada.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext_id",
            "in": "query",
            "description": "El Id externo de la jornada. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "El Bearer token para acceder a los recursos. ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "## Post /journeys/{journeyId}/stops\n\nEl cuerpo de la solicitud para agregar una nueva parada debe incluir los siguientes campos en formato JSON:\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/New_Stop"
              },
              "example": {
                "address": {
                  "city": "Toluca",
                  "country": "Mexico",
                  "ext_number": "123",
                  "latitude": "19.279314612920516",
                  "longitude": "99.59433090144017",
                  "neighborhood": "San Jeronimo Chicahualco",
                  "state": "Estado de México",
                  "street": "Calle Manuel J Clouthier",
                  "zip_code": "52170"
                },
                "appointments": [
                  {
                    "start_date": "2018-10-10T10:30:00.0000000+00:00"
                  }
                ],
                "contact_info": {
                  "contact_email": "john@doe.com",
                  "contact_name": "John Doe",
                  "contact_phone": "8112345678"
                },
                "customer_id": "71e54162-8383-4296-9929-93a44ee246b3",
                "ext_id": "Id externo de la parada",
                "name": "Nombre de la Parada",
                "services_set": {
                  "has_form_ead": "reference to form id",
                  "services": []
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "### Response 201 Created\n\nEl siguiente es el response para la creación exitosa de una nueva parada.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/New_Stop"
                },
                "example": {
                  "data": {
                    "stops": {
                      "address": {
                        "city": "Toluca",
                        "country": "Mexico",
                        "ext_number": "123",
                        "latitude": "19.279314612920516",
                        "longitude": "99.59433090144017",
                        "neighborhood": "San Jeronimo Chicahualco",
                        "state": "Estado de México",
                        "street": "Calle Manuel J Clouthier",
                        "zip_code": "52170"
                      },
                      "appointments": [],
                      "check_in": {
                        "is_checked_in": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "check_out": {
                        "is_checked_out": false,
                        "latitude": 0,
                        "longitude": 0,
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "contact_info": {
                        "contact_email": "john@doe.com",
                        "contact_name": "John Doe",
                        "contact_phone": "8112345678"
                      },
                      "created_at": "2024-07-05T02:27:38.0000000+00:00",
                      "created_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc",
                      "customer_id": "71e54162-8383-4296-9929-93a44ee246b3",
                      "ext_id": "123476589",
                      "id": "36ab5b95-b9db-48ed-a9d7-f559285f783a",
                      "incidents": null,
                      "is_active": true,
                      "name": "Eliminar Parada A",
                      "order": 1,
                      "services_set": {
                        "has_form_ead": "reference to form id",
                        "services": []
                      },
                      "start_journey_to_stop": {
                        "latitude": 0,
                        "longitude": 0,
                        "status": "pending",
                        "timestamp": "2021-07-01T12:00:00.0000000+00:00"
                      },
                      "status": "pending",
                      "updated_at": "2024-07-05T02:27:38.0000000+00:00",
                      "updated_by": "28fe9b43-a2f0-4fd6-9a53-e439f42cdabc"
                    }
                  },
                  "journey_id": "3f25a3a9-4ceb-4419-a781-1f942819cd7a",
                  "message": "The stop was added successfully.",
                  "statusCode": 201,
                  "stop_id": "36ab5b95-b9db-48ed-a9d7-f559285f783a"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "tags": [
          "customers"
        ],
        "summary": "Customer By Id",
        "description": "# GET `/customers/{id}`\n## Descripción\nEste endpoint permite obtener los detalles de un cliente específico en el sistema utilizando su ID.\n## Request Parameters\n- `id` (string): Identificador único del cliente a consultar. Debe proporcionarse en la URL.\n\n- `ext_id` (string): Identificador externo del cliente. Debe proporcionarse como parámetro de consulta.\n## Respuesta\nEl cuerpo de la respuesta incluye los siguientes campos:\n- `statusCode` (integer): Código de estado HTTP.\n\n- `message` (string): Mensaje con el resultado de la operación.\n\n- `data` (object): Detalles del cliente encontrado.\n## Descripción de los campos en `data`\n- `id` (string): Identificador único del cliente.\n\n- `ext_id` (string): Identificador del cliente.\n\n- `rfc` (string): RFC del cliente.\n\n- `business_name` (string): Nombre comercial del cliente.\n\n- `is_active` (boolean): Indica si el cliente está activo.\n\n- `created_by` (string): Usuario que creó el registro.\n\n- `created_at` (string): Fecha y hora de creación del registro en formato ISO 8601.\n\n- `updated_by` (string): Usuario que realizó la última actualización del registro.\n\n- `updated_at` (string): Fecha y hora de la última actualización del registro en formato ISO 8601.\n",
        "operationId": "get-getcustomerbyid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único del cliente a consultar.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext_id",
            "in": "query",
            "description": "Identificador externo del cliente.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "El Bearer token para acceder a los recursos.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "## Respuesta exitosa\nEl cuerpo de la respuesta incluye los siguientes campos:\n- `statusCode` (integer): Código de estado HTTP. - `message` (string): Mensaje con el resultado de la operación. - `data` (object): Detalles del cliente encontrado.\n",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "_attachments": "attachments/",
                    "_etag": "\"4c00e617-0000-0700-0000-667a0a100000\"",
                    "_rid": "JG0mAMvlCSQDAAAAAAAAAA==",
                    "_self": "dbs/JG0mAA==/colls/JG0mAMvlCSQ=/docs/JG0mAMvlCSQDAAAAAAAAAA==/",
                    "_ts": 1719274000,
                    "business_name": "Amazon Services",
                    "created_at": "2024-03-29T04:00:25.0000000+00:00",
                    "created_by": "Admin",
                    "customerId": "f8a126c7-2e07-48e2-8d1e-3a011a82e8b5",
                    "id": "f8a126c7-2e07-48e2-8d1e-3a011a82e8b5",
                    "is_active": true,
                    "rfc": "ASD123456ASD",
                    "updated_at": "2024-03-29T04:00:25.0000000+00:00",
                    "updated_by": "Admin"
                  },
                  "message": "Customer details retrieved successfully.",
                  "statusCode": 200
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "customers"
        ],
        "summary": "Customer",
        "description": "# DELETE `/customers/{id}`\n## Descripción\nEste endpoint permite eliminar un cliente específico del sistema utilizando su ID.\n## Request Parameters\n- `id` (string): Identificador único del cliente a eliminar. Debe proporcionarse en la URL.\n\n- `ext_id` (string): Identificador externo del cliente. Debe proporcionarse como parámetro de consulta.\n",
        "operationId": "delete-deletecustomerbyid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único del cliente a eliminar.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext_id",
[...]
